.git
.gitignore
.github
.claude
.idea
.vscode
.DS_Store

node_modules
tmp/cache
tmp/pids
tmp/sockets
log/*.log
storage
public/assets
public/packs
public/packs-test

coverage
spec/reports
test/reports

*.swp
*.swo

todo.txt
