<p>
  <strong> As-Salaam-Alaikum, <%= @user.name %></strong>
</p>

<h1 style="font-size: 24px; color: #333;">
  Welcome to the Quranic Universal Library (QUL)
</h1>

<p>
  Thank you for signing up with the Quranic Universal Library (QUL)! We're excited to have you as part of our growing community of Muslim developers dedicated to building next generation of Quranic applications.
</p>

<h2>About QUL:</h2>
<p>QUL is an open platform designed to empower Muslim developers, scholars, and researchers with access to Quranic resources, and tools. Whether you're building applications, conducting research, or contributing to open-source projects, QUL has resources to support your journey.️</p>

<h2>Get Started with QUL:</h2>
<ul>
  <li><strong>Download Quranic Resources</strong> – Access translations, tafsir, audio, and related Quranic data for your projects.
    <a href="https://qul.tarteel.ai/resources">Visit Resources Page</a>
  </li>
  <li><strong>Explore Developer Tools</strong> – Utilize suite of tools designed to help you review, proofread, and improve the data in the Quranic Universal Library.
    <a href="https://qul.tarteel.ai/tools">Explore Tools</a>
  </li>
  <li><strong>Contribute on GitHub</strong> – Collaborate with us and enhance QUL by contributing to our open-source repository.
    <a href="https://github.com/TarteelAI/quranic-universal-library">View GitHub Repository</a>
  </li>

  <li><strong>Join Our Discord Community</strong> – Connect with fellow developers, share ideas, and get support.
    <a href="https://discord.gg/HAcGh8mfmj">Join Discord</a>
  </li>
</ul>

<h2>Need Help?</h2>
<p>If you have any questions or need assistance, feel free to reach out to our team by creating an issue on our <a href="https://github.com/TarteelAI/quranic-universal-library/issues">GitHub repository</a>.</p>
<p>We can't wait to see what you'll build with QUL!</p>