<div>
  <tr>
    <td align="center">
      <div>
        <p>
          Welcome to the Quranic Universal Library (QUL) <%= @user.name %>,
        </p>

        <p>
          We’re thrilled to have you join our community of learners, scholars, and contributors who are passionate about
          the Quran and its teachings.
        </p>

        <div style="border: 1px solid #00b894; border-radius: 10px; padding-inline: 0.625rem;">
          <p>
            The Quranic Universal Library (QUL) is a comprehensive platform designed to provide access to a vast range
            of Quranic resources.
            Whether you're looking for translations, tafsir, mushaf layouts, or audio recitations, QUL is your one-stop
            destination.
            Our mission is to make Quranic resources accessible to all, supporting learning, research, and development.
          </p>
        </div>

        <p>
          <strong>Join the Community:</strong>
          We invite you to join our Discord community, where you can connect with other QUL users, share insights, collaborate on projects, and stay updated with the latest developments. Whether you're working on a machine learning project or exploring new scholarly avenues, our community is here to support you.
        </p>

        <p>
          <strong>Join us on Discord:</strong> <a href="https://discord.gg/HAcGh8mfmj">https://discord.gg/HAcGh8mfmj</a>
        </p>

        <p>
          If you have any questions, feedback, or ideas, don’t hesitate to reach out. We’re here to help you get the
          most out of QUL.
        </p>

        <p>We look forward to your contribution!</p>
      </div>
    </td>
  </tr>
</div>
