<div class="tw-mx-auto tw-h-screen tw-flex tw-flex-col md:tw-h-[80vh]" data-controller="resizeable">
  <div class="tw-flex tw-flex-grow tw-overflow-hidden tw-border tw-border-gray-200 tw-p-2">
    <div id="left-side" class="tw-bg-gray-50 tw-overflow-auto tw-text-pretty">
      <%= left %>
    </div>

    <% if right.present? %>
      <div id="resize-handler" class="resize-handler"></div>

      <div id="right-side" class="tw-bg-gray-50 tw-overflow-auto tw-text-pretty">
        <%= right %>
      </div>
    <% end %>
  </div>
</div>
