<div class="mx-auto h-screen flex flex-col md:h-[80vh]" data-controller="resizeable">
  <div class="flex flex-grow overflow-hidden border border-gray-200 p-2">
    <div id="left-side" class="bg-gray-50 overflow-auto text-pretty">
      <%= left %>
    </div>

    <% if right.present? %>
      <div id="resize-handler" class="resize-handler"></div>

      <div id="right-side" class="bg-gray-50 overflow-auto text-pretty">
        <%= right %>
      </div>
    <% end %>
  </div>
</div>
