<footer class="footer_container">
  <!-- leftside -->
  <div class="footer_left_container">
    <div class="footer_left_text">Quranic Universal Library</div>
    <div class="footer_miniborder"></div>
    <div class="footer_icon">
      <svg
        width="37"
        height="16"
        viewBox="0 0 73 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="Union"
          opacity="0.6"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M58.0765 6.71579L55.3007 4.00632C55.0029 3.71559 54.996 3.23883 55.2852 2.93956L57.9036 0.230668C58.1958 -0.0716857 58.6786 -0.0775736 58.9781 0.217563L61.7538 2.95248C62.0502 3.2446 62.0549 3.72139 61.7643 4.0193L59.1461 6.70275C58.8543 7.00174 58.3755 7.00758 58.0765 6.71579ZM65.2019 6.71313L62.4261 4.00369C62.1293 3.71399 62.1212 3.23931 62.408 2.93967L64.995 0.236103C65.2868 -0.0687889 65.7716 -0.0759189 66.0722 0.220261L68.8478 2.95513C69.1432 3.24621 69.1491 3.72092 68.8609 4.01922L66.274 6.69736C65.9828 6.99888 65.5019 7.00596 65.2019 6.71313ZM59.6716 8.75605H62.8125C69.2878 8.75605 72.5979 11.781 72.5979 17.6616C72.5979 23.5422 69.2878 26.5672 62.8125 26.5672H59.6716C58.25 26.5672 56.9811 26.4215 55.8662 26.1317H24.8332C23.8047 29.1605 21.1861 30.6697 17.0193 30.6697H8.31151C2.80272 30.6697 0 28.0319 0 22.7321V17.8316H4.10743V22.7321C4.10743 25.7087 5.89537 27.1123 9.27797 27.1365H16.0528C19.2284 27.1365 20.9985 25.8994 21.2033 23.2651V9.19168H25.3107V13.2941H25.3308V22.5985H50.9922C50.2567 21.2767 49.8862 19.629 49.8862 17.6616C49.8862 11.781 53.1963 8.75605 59.6716 8.75605ZM60.3964 23.0582H62.0877C66.171 23.034 68.3213 21.219 68.3213 17.6616C68.3213 14.08 66.171 12.265 62.0877 12.265H60.3964C56.3131 12.265 54.1628 14.08 54.1628 17.6616C54.1628 21.219 56.3131 23.034 60.3964 23.0582Z"
          fill="grey"
          />
      </svg>
      <svg
        width="37"
        height="16"
        viewBox="0 0 73 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="Union"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12.947 18.5558H9.801C3.3154 18.5558 0 15.5066 0 9.67443C0 3.76963 3.3154 0.744629 9.801 0.744629H12.947C19.4326 0.744629 22.748 3.76963 22.748 9.67443C22.748 13.5222 21.1992 16.2084 18.2952 17.5636L20.3764 21H15.8026L14.2296 18.5074C13.8182 18.5316 13.3826 18.5558 12.947 18.5558ZM10.527 15.0468H12.0274L9.8494 11.6104H14.762L16.1414 13.8852L16.2624 14.103C17.7386 13.2802 18.4646 11.7556 18.4646 9.67443C18.4646 6.06863 16.3108 4.25363 12.221 4.25363H10.527C6.4372 4.25363 4.2834 6.06863 4.2834 9.67443C4.2834 13.2076 6.4372 15.0226 10.527 15.0468ZM51.4861 2.18463V11.7194C51.4861 16.7288 48.2917 19.5602 43.1613 19.5602H34.0984C28.8712 19.5602 25.7736 16.7288 25.7736 11.7194V2.18463H30.0086V11.6226C30.0086 14.6718 31.267 15.8576 35.1874 15.8576H42.0965C45.8959 15.8576 47.2753 14.6718 47.2753 11.6226V2.18463H51.4861ZM54.4489 2.25724V19.1972H72.1633V15.6882H58.5629V2.25724H54.4489Z"
          fill="black"
          />
      </svg>
    </div>
  </div>
  <!-- right side -->
  <div class="footer_right_container">
    <%= link_to 'Terms of use', 'https://www.tarteel.ai/terms', class: 'footer_right_text text-decoration-non' %>
    <%= link_to 'Privacy Policy', 'https://www.tarteel.ai/privacy', class: 'footer_right_text text-decoration-non' %>

    <a
      class="github-button"
      href="https://github.com/TarteelAI/quranic-universal-library"
      data-color-scheme="no-preference: light; light: light; dark: dark;"
      data-size="large"
      data-show-count="true"
      aria-label="Star QUL on Github"
      target="_blank"
    >Star</a
    >
  </div>
</footer>
