<div class="tw--ms-14">
  <%= render 'layouts/grid' do %>
    <div class="tw-py-4 md:tw-py-8">
      <div>
        <div class="tw-flex tw-justify-between">
          <div>
            <svg class="tw-w-[67px] tw-h-[66px]" viewBox="0 0 67 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content -->
            </svg>
            <!-- QUL Logo -->
            <div class="tw-flex tw-justify-between tw-mt-2">
              <div class="tw-ms-1 tw-text-sm tw-text-gray-400 tw-leading-tight tw-shadow-md tw-flex tw-flex-col">
                <span>Quranic</span>
                <span>Universal</span>
                <span>Library</span>
              </div>
            </div>
          </div>
          <div class="tw-flex tw-flex-col tw-items-center tw-z-10">
            <svg class="tw-w-[73px] tw-h-[60px]" viewBox="0 0 73 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- SVG content -->
            </svg>
          </div>
        </div>
      </div>

      <div class="tw-relative tw-z-10 tw-pt-8 tw-pb-8 tw-w-full">
        <div class="tw-mt-10 tw-text-pretty">
          <h1 class="tw-text-6xl tw-max-w-[15ch] tw-font-normal tw-leading-tight tw-shadow-md">The toolkit for Muslim Developers</h1>
          <p class="tw-mt-3 tw-max-w-[30ch] tw-text-2xl tw-leading-snug tw-text-gray-500 tw-shadow-md md:tw-text-gray-400">A comprehensive collection of Quranic digital resources</p>
        </div>

        <div class="tw-mt-20">
          <div class="tw-text-xs tw-font-bold tw-text-gray-400">A PROJECT BY</div>
          <a href="https://www.tarteel.ai/" target="_blank" class="tw-inline-block tw-invert tw-w-32 tw-mt-2 tw-contrast-100">
            <%= image_tag asset_path('logotype.svg'), alt: 'Tarteel Logotype' %>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>