<div class="overview">
  <p class="title">OVERVIEW</p>
  <div class="detail mb-5">
    <div>
      Islamic projects are built upon the same universal resources:
    </div>
    <div>
      the Quran, its translations, its tafsir, recitations of it,
    </div>
    <div>
      related content and data.
    </div>
  </div>

  <div class="row align-items-start justify-content-between mt-3">
    <div class="left col-md-5 col-12">
      <div class="mb-3">
        <strong>QUL — Quranic Universal Library,</strong>
        <span class="small">
             refines how to represent the Quran digitally and catalogues many
        of these resources in a way that they can be easily integrated.
        </span>
      </div>

      <%= link_to 'GET STARTED', user_signed_in? ? resources_path : new_user_session_path, class: 'btn btn-dark btn-dark-hover btn-rounded py-4 px-8 fs-6 text-nowrap', id: 'get-started' %>
    </div>

    <div class="right col-md-7 col-12">
      To make it easier for everyone in the Islamic development ecosystem
      to build their own projects without redoing all of this work, we
      have open-sourced and made publicly available many of these
      resources along with the tools necessary to interact with and
      explore them.
      <br/>
      <br/>
      This toolbox is primarily geared towards other Muslim developers.
      For help with using it, visit QUL repo on
      <a href="https://github.com/TarteelAI/quranic-universal-library" class="btn-link text-dark text-decoration-underline">Github</a>.
    </div>
  </div>
</div>