<div class="overview px-md-4 mt-4">
  <p class="title">OVERVIEW</p>
  <div class="detail">
      Islamic projects are built upon the same essential resources: the Quran, fonts, translations, tafsir, and more.
  </div>

  <div class="d-flex flex-column gap-md-4 flex-md-row align-items-start mt-4 mt-md-5">
    <div class="left col-md-5 col-12">
      <div class="mb-3">
        <p>
          <strong>QUL — Quranic Universal Library,</strong> provides a comprehensive, centralized hub of essential digital Quran resources, allowing you to go from idea to impact much faster.
        </p>
      </div>

      <%= link_to 'GET STARTED', resources_path, class: 'btn btn-dark btn-dark-hover btn-rounded py-3 px-8 fs-6 text-nowrap mt-3 d-none d-md-inline-block', id: 'get-started' %>
    </div>

    <div class="right col-md-7 col-12">
      <p>
        To save you time and effort when it comes to sourcing, formatting, and auditing all the Quranic resources you need for your project, we’ve curated and open-sourced them. We’ve also included the tools necessary to interact with and explore them.
        <br/>
        <br/>
        QUL is primarily geared towards other Muslim developers. To contribute, visit the QUL repo on <a href="https://github.com/TarteelAI/quranic-universal-library" class="btn-link text-dark text-decoration-underline">Github</a>.
        Special thanks to  <%= link_to 'all those whose contributions made this project possible', credits_path, class: "btn-link text-dark text-decoration-underline" %>.
      </p>
    </div>

    <div class="d-grid col-12">
      <%= link_to 'GET STARTED', resources_path, class: 'btn btn-dark btn-dark-hover btn-rounded py-3 px-8 fs-6 text-nowrap mt-3 d-block d-md-none', id: 'get-started' %>
    </div>
  </div>
</div>
