<div class="sidescroll-container">
  <h2 class="tw-text-3xl md:tw-text-5xl tw-text-white tw-font-title">Developer Resources</h2>
</div>
<div class="tw-mt-10">
  <%= render 'card/card_sidescrolling_container' do %>
    <% featured_developer_resources.each do |card| %>
      <%= render 'card/card-container', card: card do %>
        <%= render 'card/card_content', card: card, show_stats: true %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="sidescroll-container">
  <p class="tw-mt-10">
    <%= link_to 'VIEW ALL DEVELOPER RESOURCES', resources_path, class: 'tw-text-white tw-opacity-70 tw-font-semibold hover:tw-opacity-100 hover:tw-text-white tw-transition-opacity tw-duration-300' %>
  </p>
</div>
