<script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
<div class="tw-w-full tw-h-full tw-flex tw-justify-center tw-items-center">
  <spline-viewer
    url="https://static-cdn.tarteel.ai/qul/spline/scene.splinecode"
    width="800"
    height="800"
    class="tw-scale-75 md:tw-scale-100"
  ></spline-viewer>
</div>
