<div data-controller="spline-viewer" class="w-full h-full flex justify-center items-center">
  <img
    src="/spline.webp"
    alt="Quranic Universal Library 3D Scene"
    class="w-full h-full object-cover"
    data-spline-viewer-target="fallback"
  />
  <div class="hidden lg:block w-full h-full" data-spline-viewer-target="container">
    <div class="w-full h-full flex justify-center items-center">
      <spline-viewer
        url="https://static-cdn.tarteel.ai/qul/spline/scene.splinecode"
        width="800"
        height="800"
        class="scale-75 md:scale-100"
        data-spline-viewer-target="viewer"
      ></spline-viewer>
    </div>
  </div>
</div>
