<script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
<div class="tw-w-full tw-h-full tw-flex tw-justify-center tw-items-center">
  <spline-viewer
    url="https://static-cdn.tarteel.ai/qul/spline/scene.splinecode"
    width="1200"
    height="1000"
  ></spline-viewer>
</div>
