  <div class="tw-bg-black tw-rounded-3xl tw-text-white tw-overflow-hidden tw-relative tw-mx-16">
    <div class="tw-w-full hero-spline tw-py-4 md:tw-py-5">
      <%#= TODO: REINSTATE SPLINE %>
      <%#= render 'landing/spline' %>
      <div class="overlay md:tw-hidden"></div>
      <%= render 'landing/hero' %>
    </div>
  </div>

  <%= render 'landing/overview' %>

<div class="tw-bg-black tw-text-white tw-py-10 md:tw-py-16 tw-mt-4">
  <%= render 'landing/resources' %>
</div>

<div class="tw-text-white tw-py-10 md:tw-py-16 tw-bg-[#404040]">
  <%= render 'landing/tools' %>
</div>
