  <div class="landing_page_header">
    <div class="col-6">
      <script
        type="module"
        src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"
      ></script>
      <spline-viewer
        background="transparent"
        loading-anim-type="spinner-small-light"
        url="https://prod.spline.design/hSyPwhy9Au9D17VK/scene.splinecode"
      ></spline-viewer>
    </div>

    <div class="header_rightside_container">
      <div class="rightside_firstPart">
          <svg
            width="64"
            height="64"
            viewBox="0 0 32 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.0199 10.1875L14.996 13.7033V13.6987C14.8601 14.1587 14.2077 14.3408 13.8544 14.0175L11.1588 11.5355C11.0863 11.4672 11.0319 11.3852 11.0093 11.2896L9.76344 6.56708C9.52334 5.66538 10.1757 4.69992 11.2222 4.40846L12.382 4.08512C13.4421 3.78911 14.5067 4.29006 14.7514 5.20086L16.0199 9.90974C16.047 10.0008 16.047 10.0965 16.0199 10.1875ZM11.8481 15.2015L10.8197 11.6903C10.7925 11.5993 10.7427 11.5173 10.6747 11.4535L7.0731 8.18373C6.37543 7.55072 5.21113 7.70556 4.48174 8.52984L3.67987 9.43154C2.95501 10.2467 2.92783 11.4125 3.61191 12.041L7.19995 15.3381C7.27244 15.4019 7.35852 15.4474 7.45818 15.4656L11.0598 16.0895C11.531 16.1715 11.9795 15.6615 11.8481 15.2015ZM7.245 15.7799L9.99945 18.1753L10.004 18.1708C10.3619 18.485 10.2577 19.159 9.81824 19.3457L6.45219 20.7757C6.36158 20.8121 6.26191 20.8303 6.16677 20.8121L1.37366 19.9878C0.458526 19.8284 -0.139481 18.8356 0.0281425 17.7563L0.213887 16.5632C0.38604 15.4748 1.27852 14.7097 2.20724 14.8645L6.99583 15.6615C7.08643 15.6751 7.17251 15.7161 7.245 15.7799ZM10.0484 21.6773L6.44228 21.1582C6.34715 21.1445 6.25201 21.1582 6.16593 21.1946L1.70806 23.1301C0.842764 23.5035 0.502988 24.6329 0.946963 25.6439L1.43171 26.7505C1.87116 27.7479 2.90861 28.2625 3.76484 27.8936L8.24083 25.9809C8.33144 25.9445 8.40393 25.8807 8.46282 25.7987L10.5241 22.7657C10.7914 22.3695 10.5241 21.7456 10.0484 21.6773ZM11.9753 24.601L8.66365 26.1221C8.57758 26.1631 8.50509 26.2223 8.45073 26.2997L5.74157 30.3482C5.21605 31.1315 5.53318 32.27 6.45284 32.8803L7.45858 33.5497C8.36465 34.1509 9.51536 34.0188 10.0363 33.2446L12.7727 29.2052C12.827 29.1232 12.8588 29.0321 12.8588 28.9319L12.963 25.2568C12.9766 24.7787 12.4103 24.4007 11.9753 24.601ZM18.4541 14.1541L21.2041 11.7542C21.2766 11.6904 21.3309 11.613 21.3581 11.5219L22.8214 6.87223C23.1068 5.97053 22.4816 4.97319 21.4306 4.6453L20.2799 4.29009C19.2424 3.96675 18.1778 4.42216 17.8924 5.31475L16.3974 9.96442C16.3657 10.0555 16.3657 10.1557 16.3928 10.2513L17.3216 13.8035C17.4439 14.268 18.0917 14.4684 18.4496 14.1541H18.4541ZM24.7236 15.8891L21.1174 16.4129V16.4083C20.6463 16.4766 20.2068 15.9529 20.3563 15.4975L21.4844 12.0045C21.5116 11.9135 21.5705 11.8269 21.643 11.7677L25.4031 8.66643C26.1235 8.07441 27.2651 8.27023 27.9628 9.10362L28.7375 10.0281C29.4442 10.8706 29.4352 12.0501 28.7103 12.6558L24.9773 15.7753C24.9048 15.839 24.8187 15.8755 24.7236 15.8891ZM22.1444 19.7601L25.4561 21.2811C25.5422 21.3221 25.6373 21.3358 25.7279 21.3267L30.5437 20.7347C31.4769 20.6208 32.1202 19.6326 31.9798 18.5396L31.8258 17.3373C31.6853 16.2535 30.8291 15.4702 29.9094 15.5795L25.0801 16.1442C24.9849 16.1533 24.8943 16.1943 24.8173 16.258L21.9904 18.5851C21.6189 18.8903 21.7095 19.5643 22.1444 19.7646V19.7601ZM23.1797 26.2132L21.209 23.1347H21.2136C20.9553 22.7294 21.2453 22.1146 21.721 22.0599L25.3543 21.641C25.4494 21.6273 25.5491 21.6455 25.6352 21.6865L30.0025 23.836C30.836 24.2459 31.135 25.3707 30.6684 26.3589L30.152 27.4519C29.6808 28.4492 28.6071 28.9274 27.7599 28.5175L23.3881 26.3999C23.3021 26.3589 23.2341 26.2952 23.1797 26.2132ZM18.6069 25.4663V29.1278C18.6069 29.2234 18.6341 29.319 18.6839 29.3965L21.2209 33.5543C21.7148 34.3604 22.8745 34.5425 23.8032 33.955L24.8271 33.3129C25.7468 32.7346 26.1047 31.6279 25.6244 30.8264L23.1056 26.6458C23.0557 26.5638 22.9832 26.4955 22.8926 26.4545L19.6127 24.8333C19.1823 24.6238 18.6069 24.9836 18.6069 25.4618V25.4663ZM13.1976 29.0959L15.1638 26.0128H15.1683C15.4266 25.6121 16.1061 25.6212 16.3507 26.031L18.2399 29.1779C18.2943 29.2644 18.3169 29.36 18.3169 29.4557L18.1855 34.3422C18.1584 35.2757 17.2659 36.0135 16.1786 35.9998L14.9735 35.9816C13.8772 35.9634 12.9983 35.1847 13.0164 34.2374L13.1161 29.36C13.1161 29.269 13.1433 29.1779 13.1976 29.0959Z"
              fill="white"
              />
          </svg>
          <div class="qul1_text">Quranic Universal Library</div>
        </div>
        <div class="firstPart_icons">
          <svg
            width="73"
            height="31"
            viewBox="0 0 73 31"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="Union"
              opacity="0.6"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M58.0765 6.71579L55.3007 4.00632C55.0029 3.71559 54.996 3.23883 55.2852 2.93956L57.9036 0.230668C58.1958 -0.0716857 58.6786 -0.0775736 58.9781 0.217563L61.7538 2.95248C62.0502 3.2446 62.0549 3.72139 61.7643 4.0193L59.1461 6.70275C58.8543 7.00174 58.3755 7.00758 58.0765 6.71579ZM65.2019 6.71313L62.4261 4.00369C62.1293 3.71399 62.1212 3.23931 62.408 2.93967L64.995 0.236103C65.2868 -0.0687889 65.7716 -0.0759189 66.0722 0.220261L68.8478 2.95513C69.1432 3.24621 69.1491 3.72092 68.8609 4.01922L66.274 6.69736C65.9828 6.99888 65.5019 7.00596 65.2019 6.71313ZM59.6716 8.75605H62.8125C69.2878 8.75605 72.5979 11.781 72.5979 17.6616C72.5979 23.5422 69.2878 26.5672 62.8125 26.5672H59.6716C58.25 26.5672 56.9811 26.4215 55.8662 26.1317H24.8332C23.8047 29.1605 21.1861 30.6697 17.0193 30.6697H8.31151C2.80272 30.6697 0 28.0319 0 22.7321V17.8316H4.10743V22.7321C4.10743 25.7087 5.89537 27.1123 9.27797 27.1365H16.0528C19.2284 27.1365 20.9985 25.8994 21.2033 23.2651V9.19168H25.3107V13.2941H25.3308V22.5985H50.9922C50.2567 21.2767 49.8862 19.629 49.8862 17.6616C49.8862 11.781 53.1963 8.75605 59.6716 8.75605ZM60.3964 23.0582H62.0877C66.171 23.034 68.3213 21.219 68.3213 17.6616C68.3213 14.08 66.171 12.265 62.0877 12.265H60.3964C56.3131 12.265 54.1628 14.08 54.1628 17.6616C54.1628 21.219 56.3131 23.034 60.3964 23.0582Z"
              fill="white"
              />
          </svg>
          <svg
            width="73"
            height="21"
            viewBox="0 0 73 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="Union"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.947 18.5558H9.801C3.3154 18.5558 0 15.5066 0 9.67443C0 3.76963 3.3154 0.744629 9.801 0.744629H12.947C19.4326 0.744629 22.748 3.76963 22.748 9.67443C22.748 13.5222 21.1992 16.2084 18.2952 17.5636L20.3764 21H15.8026L14.2296 18.5074C13.8182 18.5316 13.3826 18.5558 12.947 18.5558ZM10.527 15.0468H12.0274L9.8494 11.6104H14.762L16.1414 13.8852L16.2624 14.103C17.7386 13.2802 18.4646 11.7556 18.4646 9.67443C18.4646 6.06863 16.3108 4.25363 12.221 4.25363H10.527C6.4372 4.25363 4.2834 6.06863 4.2834 9.67443C4.2834 13.2076 6.4372 15.0226 10.527 15.0468ZM51.4861 2.18463V11.7194C51.4861 16.7288 48.2917 19.5602 43.1613 19.5602H34.0984C28.8712 19.5602 25.7736 16.7288 25.7736 11.7194V2.18463H30.0086V11.6226C30.0086 14.6718 31.267 15.8576 35.1874 15.8576H42.0965C45.8959 15.8576 47.2753 14.6718 47.2753 11.6226V2.18463H51.4861ZM54.4489 2.25724V19.1972H72.1633V15.6882H58.5629V2.25724H54.4489Z"
              fill="white"
              />
          </svg>
        </div>
      </div>

      <div>
        <div>
          <span class="reigniting"> Reigniting </span>
          <span class="gold"> the Islamic Golden Age.</span>
        </div>

        <style>
            .reigniting {
                color: #ebebeb;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: "Sarina", cursive;
                font-size: 70px;
                font-style: normal;
                font-weight: 400;
                line-height: 64px; /* 91.429% */
                letter-spacing: -0.163px;
            }

            .gold {
                color: #ebebeb;
                font-family: "Open Sauce Sans";
                font-size: 70px;
                font-style: normal;
                font-weight: 400;
                line-height: 64px;
                letter-spacing: -0.163px;
            }
        </style>
      </div>
      <div>
        <div class="project_by">A Project by:</div>
        <div class="header_tarteel_text">TARTEEL</div>
      </div>
    </div>
  </div>

  <div class="overview_container">
    <p class="overview_text">OVERVIEW</p>
    <p class="overview_detail_text">
      Islamic projects are built upon the same universal resources: the
      Quran, its translations, its tafsir, recitations of it, and related
      content and data.
    </p>
    <div class="overview_lowerpart">
      <div>
        <div class="overview_lowerLeft_Text">
          <span class="overview_lowerLeft_QUL">QUL </span>
          <span class="overview_lowerLeft_QUL2">
                — Quranic Universal Library,
          </span>
          refines how to represent the Quran digitally and catalogues many
          of these resources in a way that they can be easily integrated.
        </div>
        <%= link_to 'GET STARTED', new_user_session_path, class: 'btn overveiw_startbtn' %>
      </div>

      <div class="overview_lowerRight_text">
        To make it easier for everyone in the Islamic development ecosystem
        to build their own projects without redoing all of this work, we
        have open-sourced and made publicly available many of these
        resources along with the tools necessary to interact with and
        explore them.
        <br />
        <br />
        This toolbox is primarily geared towards other Muslim developers.
        This toolbox is primarily geared towards other Muslim developers.
        For help with using it, visit our docs (linked).
      </div>
    </div>
  </div>

  <div class="developer_resources_container">
    <h4>Developer Resources</h4>
    <div class="dr_card_container">
      <div class="dr_card">
        <h5>Surah audio segments</h5>
        <p class="dr-card_description">
          Tool for creating word by word and ayah by ayah segments of audio
          files.
        </p>
        <button class="dr_lmore_btn">Learn More</button>

        <div class="dr_icon">
          <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="soundwave 1">
              <g id="Group">
                <path id="Vector" d="M87.5 20.8333V170.833" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_2" d="M62.5 58.3333V141.667" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_3" d="M37.5 83.3333V116.667" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_4" d="M12.5 91.6667V108.333" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_5" d="M112.5 29.1667V179.167" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_6" d="M137.5 58.3333V141.667" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_7" d="M162.5 83.3333V116.667" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
                <path id="Vector_8" d="M187.5 91.6667V108.333" stroke="white" stroke-width="16" stroke-miterlimit="10" stroke-linecap="square"/>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <p class="dr_card_footer_text">Audio Segments</p>
          <p class="dr_card_footer_text">Description</p>
        </div>
      </div>

      <div class="dr_card2">
        <h5>Prepare Mushaf layout</h5>
        <p class="dr-card_description">
          Proofread and fix different layouts of Mushaf( 15 lines, 16 lines,
          v2, v1 etc)
        </p>

        <button class="dr_lmore_btn">Learn More</button>
        <div class="dr_icon">
          <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="document-copy 1">
              <path id="Vector" d="M179.168 4.16675H45.8346C44.7296 4.16675 43.6698 4.60573 42.8884 5.38714C42.107 6.16854 41.668 7.22835 41.668 8.33342V20.8334H154.168C157.483 20.8334 160.663 22.1504 163.007 24.4946C165.351 26.8388 166.668 30.0182 166.668 33.3334V170.833H179.168C180.273 170.833 181.333 170.394 182.114 169.613C182.896 168.832 183.335 167.772 183.335 166.667V8.33342C183.335 7.22835 182.896 6.16854 182.114 5.38714C181.333 4.60573 180.273 4.16675 179.168 4.16675Z" fill="white"/>
              <path id="Vector_2" d="M154.168 29.1667H20.8346C19.7296 29.1667 18.6698 29.6057 17.8884 30.3871C17.107 31.1685 16.668 32.2283 16.668 33.3334V191.667C16.668 192.772 17.107 193.832 17.8884 194.613C18.6698 195.394 19.7296 195.833 20.8346 195.833H154.168C155.273 195.833 156.333 195.394 157.114 194.613C157.896 193.832 158.335 192.772 158.335 191.667V33.3334C158.335 32.2283 157.896 31.1685 157.114 30.3871C156.333 29.6057 155.273 29.1667 154.168 29.1667ZM87.5013 145.833H50.0013C48.8962 145.833 47.8364 145.394 47.055 144.613C46.2736 143.832 45.8346 142.772 45.8346 141.667C45.8346 140.562 46.2736 139.502 47.055 138.72C47.8364 137.939 48.8962 137.5 50.0013 137.5H87.5013C88.6064 137.5 89.6662 137.939 90.4476 138.72C91.229 139.502 91.668 140.562 91.668 141.667C91.668 142.772 91.229 143.832 90.4476 144.613C89.6662 145.394 88.6064 145.833 87.5013 145.833ZM125.001 112.5H50.0013C48.8962 112.5 47.8364 112.061 47.055 111.28C46.2736 110.498 45.8346 109.438 45.8346 108.333C45.8346 107.228 46.2736 106.169 47.055 105.387C47.8364 104.606 48.8962 104.167 50.0013 104.167H125.001C126.106 104.167 127.166 104.606 127.948 105.387C128.729 106.169 129.168 107.228 129.168 108.333C129.168 109.438 128.729 110.498 127.948 111.28C127.166 112.061 126.106 112.5 125.001 112.5ZM125.001 79.1668H50.0013C48.8962 79.1668 47.8364 78.7278 47.055 77.9464C46.2736 77.165 45.8346 76.1052 45.8346 75.0001C45.8346 73.895 46.2736 72.8352 47.055 72.0538C47.8364 71.2724 48.8962 70.8334 50.0013 70.8334H125.001C126.106 70.8334 127.166 71.2724 127.948 72.0538C128.729 72.8352 129.168 73.895 129.168 75.0001C129.168 76.1052 128.729 77.165 127.948 77.9464C127.166 78.7278 126.106 79.1668 125.001 79.1668Z" fill="white"/>
            </g>
          </svg>
        </div>

        <div>
          <p class="dr_card_footer_text">Layout</p>
          <p class="dr_card_footer_text">Description</p>
        </div>
      </div>

      <div class="dr_card3">
        <h5>Mutashabihat ul Quran</h5>
        <p class="dr-card_description">
          Contribute preparing matching ayah and phrases data in Quran
        </p>
        <button class="dr_lmore_btn">Learn More</button>
        <div class="dr_icon">
          <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="file-replace 1">
              <g id="Group">
                <path id="Vector" d="M187.5 56.25H175V50C175 43.3696 172.366 37.0107 167.678 32.3223C162.989 27.6339 156.63 25 150 25H143.75V12.5H150C159.943 12.5099 169.475 16.464 176.506 23.4945C183.536 30.5249 187.49 40.0574 187.5 50V56.25Z" fill="white"/>
                <path id="Vector_2" d="M56.25 187.5H50C40.0574 187.49 30.5249 183.536 23.4945 176.506C16.464 169.475 12.5099 159.943 12.5 150V143.75H25V150C25 156.63 27.6339 162.989 32.3223 167.678C37.0107 172.366 43.3696 175 50 175H56.25V187.5Z" fill="white"/>
                <path id="Vector_3" d="M75 81.25C75 76.2772 76.9754 71.508 80.4917 67.9917C84.008 64.4754 88.7772 62.5 93.75 62.5H112.5V12.5C112.5 10.8424 111.842 9.25268 110.669 8.08058C109.497 6.90848 107.908 6.25 106.25 6.25H12.5C10.8424 6.25 9.25268 6.90848 8.08058 8.08058C6.90848 9.25268 6.25 10.8424 6.25 12.5V118.75C6.25 120.408 6.90848 121.997 8.08058 123.169C9.25268 124.342 10.8424 125 12.5 125H75V81.25Z" fill="white"/>
                <path id="Vector_4" d="M187.5 75H93.75C90.2982 75 87.5 77.7982 87.5 81.25V187.5C87.5 190.952 90.2982 193.75 93.75 193.75H187.5C190.952 193.75 193.75 190.952 193.75 187.5V81.25C193.75 77.7982 190.952 75 187.5 75Z" fill="white"/>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <p class="dr_card_footer_text">Mutashabihat</p>
          <p class="dr_card_footer_text">Description</p>
        </div>
      </div>

    </div>

    <p class="dr_footer_text">
      VIEW ALL RESOURCES
    </p>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const canvas = document
        .querySelector("spline-viewer")
        .shadowRoot.querySelector("canvas");
      canvas.style.transform = `scale(2)`;
    });
  </script>

  <style>
    .dr_card {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<%= image_url 'tools-cards/timestamp.png' %>");
    }
    .dr_card2{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<%= image_url 'tools-cards/mushaf-layout.png' %>");
    }
    .dr_card3{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<%= image_url 'tools-cards/mutashabihat.png' %>");
    }
  </style>