<%= form_with url: export_sqlite_db_cms_mushafs_path, method: :put do |form| %>
  <fieldset class="download-form">
    <ol>
      <li class="text input required">
        <label for="file_name">DB File name</label>
        <input type="text" name="file_name" id=file_name placeholder="file name" value="quran-data.sqlite">
      </li>

      <li class="searchable_select input optional">
        <label for="file_name">Select mushafs</label>
        <select name="mushaf_ids" id=mushaf_ids multiple data-controller="select2">
          <option value="tarteel-mushafs">Mushaf included in Tarteel app</option>
          <% Mushaf.approved.find_each do |mushaf| %>
            <option value="<%= mushaf.id %>">
              <%= mushaf.humanize %>
            </option>
          <% end %>
        </select>
      </li>
    </ol>
  </fieldset>

  <%= submit_tag 'Export!', data: { disable_with: 'Please wait...' } %>
<% end %>