<h2 class="m-0">How to Export Translations?</h2>
<p>
  Click on <strong>Content -> Resource Content</strong> from the menu
  <strong>
    or
    <a href="/cms/resource_contents?q%5Bcardinality_type_eq%5D=1_ayah&q%5Bsub_type_eq%5D=translation&order=id_desc&commit=Filter">click here to view all translations</a>
  </strong>.
  Search for the translation you want to export and click the <strong>View</strong> link.
</p>
<p>
  If the translation has already been exported, click the <strong>Download</strong> button. Alternatively, you can generate a new export from the sidebar. Simply enter the exported database name and click the <strong>Export</strong> button. The app will export the database in the background and send you the dump via email. You can also wait a minute or two, refresh the page, and download the exported file.
</p>
