<%= form_with model: resource, url: upload_file_cms_resource_content_path(resource),
             method: :post,
             enctype: 'multipart/form-data' do |form| %>
  <h3>Upload File</h3>
  <%= form.file_field :source_files, required: true, multiple: true %>
  <%= form.submit "Upload" %>
<% end %>