<div class="container-lg px-4">
  <div class="row device-container">
    <%= render 'devise/shared/spline_animation' %>

    <div class="col-md-6 col-12 right">
      <div class="py-3 px-md-4" data-turbo="false">
        <%= render 'form' %>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>
