
<%
  phrase_verses = @phrase.phrase_verses.includes(verse: :words)
  phrase_style = "style=\"color: #{@phrase.get_color}\"".html_safe
%>

<% if params[:modal] %>
  <div id=title>
    Phrase ayahs
  </div>
<% else %>
  <%= render 'tools/header',
             name: 'Mutashabihat ul Quran',
             title: "Phrase ayahs",
             key: 'ayah_mutashabihat'
  %>
<% end %>

<div id="body">
  <div class="modal-body">
    <% phrase_verses.each_with_index do |phrase_verse, index| %>
      <div class="quran-text qpc-hafs">
        <div class="badge bg-success">
          <%= phrase_verse.verse.verse_key %>
        </div>

        <% phrase_verse.verse.words.each do |word| %>
            <span <%= phrase_style if phrase_verse.highlight_word?(word) %>>
              <%= word.text_qpc_hafs %>
            </span>
        <% end %>
      </div>

      <% unless index == phrase_verses.size - 1 %>
        <hr class="tw-mb-2 tw-mt-2 tw-border-gray-300"/>
      <% end %>
    <% end %>
  </div>
</div>
