<% if params[:proofread] %>
  <%
    actions = []
    if previous_ayah = @verse.previous_ayah
      actions << link_to('Previous ayah', morphology_phrase_path(previous_ayah.id, proofread: true), class: 'btn btn-dark')
    end

    if next_ayah = @verse.next_ayah
      actions << link_to('Next ayah', morphology_phrase_path(next_ayah.id, proofread: true), class: 'btn btn-dark')
    end

    actions << link_to('Back', morphology_phrases_path(proofread: true), class: 'btn btn-info')
  %>

  <%= render 'tools/header',
             name: 'Mutashabihat ul Quran',
             title: "Mutashabihat phrases for ayah #{@verse.verse_key}",
             key: 'ayah_mutashabihat',
             actions: actions
  %>
  <div class="page-wrapper container-lg">
    <%= render 'ayah_preview', mapping: {
      verse: @verse,
      phrase_verses: @verse.verse_phrases,
    } %>
  </div>
<% else %>
  <%= render 'suggestions' %>
<% end %>