<%
  patterns = (1..10).to_a
%>
<div class="tw-mt-4">
  <%= render 'card/card_grid' do %>
    <% learning_activities.each do |card| %>
      <%= render 'card/card-container', card: card, patterns: patterns do %>
        <%= render 'card/card_content', card: card, show_activity_cta: true, show_tags: true %>
      <% end %>
    <% end %>
  <% end %>
</div>