<%= set_page_title 'Quranic Quiz and learning activities' %>
<div id="resources">
  <%= render 'header' %>
  <div class="tw-pb-10">
    <%= render 'layouts/grid' do %>
      <%= render 'activities' %>
    <% end %>
  </div>
</div>
