<div class="qpc-hafs quran-text tw-mb-2">
  <div class="badge tw-bg-gray-600 text-white tw-text-left">
    <%= ayah.verse_key %>
  </div>
  <%= ayah.text_qpc_hafs %>
</div>

<div class="tw-text-base tw-leading-relaxed tw-space-y-4 qpc-hafs">
  <h3>Stem</h3>
  <%= ayah.verse_stem&.text_madani %>
</div>
