<div class="qpc-hafs quran-text mb-2">
  <div class="badge badge-default text-left">
    <%= ayah.verse_key %>
  </div>
  <%= ayah.text_qpc_hafs %>
</div>

<div class="text-base leading-relaxed space-y-4 qpc-hafs">
  <h3>Lemma</h3>
  <%= ayah.verse_lemma&.text_madani %>
</div>
