<%
  patterns = (1..10).to_a
%>

<div class="tw-col-span-12 lg:tw-col-start-2 lg:tw-col-span-12 tw-mt-8">
  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-4 tw-mt-4" >
    <% @tools.each do |card| %>
      <% search_term = "#{card.title.downcase} #{card.description.to_s.downcase} #{card.tags.join(' ').downcase}"  %>

      <%= render 'card/card-container', card: card, patterns: patterns, data: { turbo_frame: '_top', search: search_term } do %>
        <%= render 'card/card_content',
                   card: card,
                   show_learn_more: true,
                   show_tags: true,
                   tool: true
        %>
      <% end %>
    <% end %>
  </div>
</div>
