<div class="page-wrapper container-lg">
  <div class="resize-container" data-controller="resizeable">
    <div class="resizable" id="left-side">
      <%= render 'shared/pdf_or_archive_embed' %>
    </div>

    <div class="handler"></div>

    <div class="resizable" id="right-side">
      <%= render 'page_view', verse: verse %>
    </div>
  </div>
</div>
