$primary: #57D798;
$info: #0A60FF;
$success: #2ED477;
$danger: #F46363;
$secondary: #303030;
$warning: #F3BF50;
$screen-sm:  540px;
$screen-md:  720px;
$screen-lg:  1440px;
$screen-xl: 1600px;

$green: $primary;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1440px,
  xl: 1680px
);
