$primary: #57D798;
$info: #0A60FF;
$success: #2ED477;
$danger: #F46363;
$secondary: #303030;
$warning: #F3BF50;
$dark: #343a40;
$light: #f8f9fa;
$white: #ffffff;
$black: #000000;

$screen-sm:  540px;
$screen-md:  720px;
$screen-lg:  1440px;
$screen-xl: 1600px;

$green: $primary;
$green-200: #bbf7d0;
$green-500: #10b981;

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$blue-100: #dbeafe;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700: #1d4ed8;
$blue-800: #1e40af;
$blue-900: #1e3a8a;

$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

$yellow-100: #fef3c7;
$yellow-200: #fde68a;
$yellow-300: #fcd34d;
$yellow-400: #fbbf24;
$yellow-500: #f59e0b;
$yellow-600: #d97706;
$yellow-700: #b45309;
$yellow-800: #92400e;
$yellow-900: #78350f;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1440px,
  xl: 1680px
);
