$primary: #57D798;
$info: #0A60FF;
$success: #2ED477;
$danger: #F46363;
$secondary: #303030;
$warning: #F3BF50;
$dark: #343a40;
$light: #f8f9fa;
$screen-sm:  540px;
$screen-md:  720px;
$screen-lg:  1440px;
$screen-xl: 1600px;

$green: $primary;
$green-500: #10b981;
$green-200: #a7f3d0;
$gray-300: #d1d5db;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$white: #ffffff;
$black: #000000;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1440px,
  xl: 1680px
);
