// Corpus
.ab{
  color: rgb(0, 0, 200);
}

.at{
  color: rgb(50, 150, 50);
  font-size: 1.2em;
  font-weight: bold;
}

.navy, .emph {
  color: #1301b8;
}

.navy-light, .conj{
    color: #0000ff;
}

.seagreen, .v {
  color: #32bd2f
}

.seagreen-light {
  color: #3ece39;
}

.sky, .n {
  color: #548dd4;
}

.sky-dark, .pron{
    color: #3F70AA;
}

.sky-light {
  color: #6f9fdb;
}

.metal {
  color: #5c7085;
}

.metal-light {
  color: #70869c;
}

.rust, .p {
  color: #ad2323;
}

.rust-light {
  color: #d73535;
}

.gray, .det {
  color: #575757;
}

.orange, .impv {
  color: #e37010;
}

.orange-dark, .fut{
  color: #b65a0d;
}

.inl {
    color: #e3a10f;
}

.t{
    color: #89440a;
}

.orange-light {
  color: #ef7d21;
}

.purple, .adj {
  color: #8126c0;
}

.purple-light {
  color: #9a3cd9;
}

.blue, .pn {
  color: #257e9c;
}

.blue-light {
  color: #2e9abe;
}

.brown, .dem {
  color: #bf9f3e;
}

.brown-light {
  color: #c9ad58;
}

.rose, .intg {
  color: #fd5162;
}

.rose-light {
  color: #fd6675
}

.gold, .rel {
  color: #817418;
}

.prp{
  color: #a8a800;
}

.gold-light {
  color: #97881c
}

.red, .neg {
  color: #f4400b;
}

.red-light {
  color: #f76c44;
}

.green, .voc {
  color: #1d6914
}

.green-light {
  color: #278e1c;
}

.pink {
  color: #a8017b;
}

.pink-light {
  color: #d8019c;
}

.silver {
  color: #b4b4b4;
}

.silver-light {
  color: #bebebe;
}