$font-cdn: "https://static-cdn.tarteel.ai/qul/fonts";
$asset-version: "3.3";

@import "indopak_font_faces";
@import "surah_names";
@import "qpc_fonts";

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

@font-face {
  font-family: "MehrNastaliq";
  src: local("Mehr Nastaliq Web"),
  url("#{$font-cdn}/lang/urdu/Mehr_Nastaliq_Webv.2.0.woff?v=#{$asset-version}"),
  url("#{$font-cdn}/lang/urdu/Mehr_Nastaliq_Webv.2.0.ttf?v=#{$asset-version}") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bismillah";
  src: url("#{$font-cdn}/bismillah/bismillah.woff2?v=#{$asset-version}");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "qpc-v4-bismillah-color";
  src: url("#{$font-cdn}/quran_fonts/bismillah_color/QCF_Bismillah_COLOR-Regular.woff2?v=#{$asset-version}") format("woff2"),
  url("#{$font-cdn}/quran_fonts/bismillah_color/QCF_Bismillah_COLOR-Regular.woff?v=#{$asset-version}") format("woff"),
  url("#{$font-cdn}/quran_fonts/bismillah_color/QCF_Bismillah_COLOR-Regular.ttf?v=#{$asset-version}") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arabic-sign-font';
  src: url("#{$font-cdn}/arabic-sign/arabic_sign_font.woff2?v=#{$asset-version}") format("woff2"),
  url("#{$font-cdn}/arabic-sign/arabic_sign_font.woff?v=#{$asset-version}") format("woff"),
  url("#{$font-cdn}/arabic-sign/arabic_sign_font.ttf?v=#{$asset-version}") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'v4-tajweed-ot_svg_dark';
  src: url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_dark/ttf/p1.ttf") format("truetype"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_dark/woff/p1.woff") format("woff"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_dark/woff2/p1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'v4-tajweed-ot_svg_light';
  src: url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_light/ttf/p1.ttf") format("truetype"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_light/woff/p1.woff") format("woff"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_light/woff2/p1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'v4-tajweed-ot_svg_sepia';
  src: url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_sepia/ttf/p1.ttf") format("truetype"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_sepia/woff/p1.woff") format("woff"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/ot_svg_sepia/woff2/p1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'v4-tajweed-dark_mood';
  src: url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/dark_mood/ttf/p1.ttf") format("truetype"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/dark_mood/woff/p1.woff") format("woff"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4-tajweed/dark_mood/woff2/p1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'v4-tajweed-no-color';
  src: url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4/woff2/p1.woff2") format("woff2"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4/woff/p1.woff") format("woff"),
  url("https://static-cdn.tarteel.ai/qul/fonts/quran_fonts/v4/ttf/p1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: quran-icon;
  src: url("#{$font-cdn}/common/quran-common.woff2?v=#{$asset-version}"),
  url("#{$font-cdn}/common/quran-common.woff?v=#{$asset-version}") format("woff"),
  url("#{$font-cdn}/common/quran-common.ttf?v=#{$asset-version}") format("truetype");
}

@font-face {
  font-family: "qpc-dotted";
  src: local("KFGQPC Alphabet Dotted"),
  url("#{$font-cdn}/KFGQPCDotFont.otf?v=#{$asset-version}");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "qpc-outline";
  src: local("KFGQPC Alphabet Outlined"),
  url("#{$font-cdn}/Outlinedv001.otf?v=#{$asset-version}");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'digitalkhatt-v2';
  src: url("#{$font-cdn}/dk/DigitalKhattV2.otf?v=#{$asset-version}") format("opentype");
  font-style: normal;
  font-display: block
}

@font-face {
  font-family: digitalkhatt-indopak;
  src: url("#{$font-cdn}/dk/DigitalKhattIndoPak.otf?v=#{$asset-version}");
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'indopak-nastaleeq';
  src: url("#{$font-cdn}/nastaleeq/indopak-nastaleeq-waqf-lazim.woff2?v=#{$asset-version}");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qpc-nastaleeq';
  src: local('KFGQPCNastaleeq-Regular'),
  url("#{$font-cdn}/nastaleeq/KFGQPCNastaleeq-Regular.woff2?v=#{$asset-version}");
}

@font-face {
  font-family: 'pdms-saleem';
  src: url("#{$font-cdn}/pdms-saleem-quranfont.ttf?v=#{$asset-version}");
}

@font-face {
  font-family: 'me_quran';
  src: url("#{$font-cdn}/me_quran_volt_newmet.ttf?v=#{$asset-version}") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digitalkhatt';
  src: url("#{$font-cdn}/dk/DigitalKhattQuranicV1.otf?v=#{$asset-version}") format("opentype");
  font-style: normal;
  font-display: block
}

@font-face {
  font-family: juz-font;
  src: url("#{$font-cdn}/common/quran-common.woff?v=#{$asset-version}");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: quran_common_font;
  src: url("#{$font-cdn}/quran-common/quran_common.ttf?v=#{$asset-version}");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KFGQPCHAFSColored-Bold;
  src: url("#{$font-cdn}/KFGQPCHAFSColored-Bold.ttf?v=#{$asset-version}")
}

@font-face {
  font-family: 'al_qalam';
  src: url("#{$font-cdn}/AlQalamQuran.ttf?v=#{$asset-version}") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.quran-icon{
  font-family: quran-icon;
}

.bismillah {
  font-family: bismillah;
  font-size: xxx-large;
}

.qpc-v4-bismillah-color {
  font-family: "qpc-v4-bismillah-color" !important;
  direction: rtl;
  font-size: 30px;
}

.arabic-sign-font {
  font-family: 'arabic-sign-font' !important;
  direction: rtl;
  font-size: 30px;
}

.font-v4-tajweed-ot-svg-dark {
  font-family: 'v4-tajweed-ot_svg_dark' !important;
  direction: rtl;
  font-size: 30px;
}

.font-v4-tajweed-ot-svg-light {
  font-family: 'v4-tajweed-ot_svg_light' !important;
  direction: rtl;
  font-size: 30px;
}

.font-v4-tajweed-ot-svg-sepia {
  font-family: 'v4-tajweed-ot_svg_sepia' !important;
  direction: rtl;
  font-size: 30px;
}

.font-v4-tajweed-dark-mood {
  font-family: 'v4-tajweed-dark_mood' !important;
  direction: rtl;
  font-size: 30px;
}

.v4 {
  font-family: 'v4' !important;
  direction: rtl;
  font-size: 30px;
}


.pdms-saleem{
  font-family: pdms-saleem;
  font-size: 30px;
}

.me-quran{
  font-family: me_quran;
  font-size: 30px;
}

.mushaf-qpc-nastaleeq {
  font-family: qpc-nastaleeq !important;
}

.digitalkhatt {
  font-family: digitalkhatt;
  direction: rtl;
  font-size: 30px;
}

.digitalkhatt-v2 {
  font-family: digitalkhatt-v2;
  direction: rtl;
  font-size: 30px;
}

.digitalkhatt-indopak {
  font-family: digitalkhatt-indopak;
  direction: rtl;
  font-size: 30px;
}

.mushaf-al_qalam {
  font-family: al_qalam;
}

.qpc-dotted {
  font-family: 'qpc-dotted';
  direction: rtl;
  font-size: 30px;
}

.qpc-outline {
  font-family: 'qpc-outline';
  direction: rtl;
  font-size: 30px;
}

.qpc-hafs-color {
  font-family: 'KFGQPCHAFSColored-Bold' !important;
  direction: rtl;
  font-size: 30px;
}

.qalam {
  font-family: al_qalam;
  direction: rtl;
}

.urdu, .ur, [lang=ur] {
  font-family: MehrNastaliq !important;
  direction: rtl;
  font-size: 30px;
  line-height: normal;
}

.ar, [lang=fa], [lang=ar] {
  font-family: 'Noto Naskh Arabic', serif;
  direction: rtl;
  font-size: 30px;
  line-height: normal;
}

.kashmiri, .ks, [lang=ks] {
  font-family: 'Noto Naskh Arabic', serif;
  direction: rtl;
}

.me_quran, .madani {
  font-family: me_quran;
  direction: rtl;
  font-size: 30px;
}

.row td span.quran-text {
  direction: rtl;
}

.indopak-nastaleeq, .indopak {
  font-family: indopak-nastaleeq;
  font-size: 30px;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.qpc-nastaleeq {
  font-family: qpc-nastaleeq;
  font-size: 30px;
  direction: rtl;
}

.tp0, .v3p0 {
  font-family: quran_common_font;
}

.quran-text {
  direction: rtl;
  text-align: right;
  line-height: normal;

  td span {
    font-size: 30px;
  }

  a {
    text-decoration: none;
  }
}

.fs-lg {
  font-size: 30px;
}

.fs-auto {
  font-size: inherit;
}

.ar.indopak {
  font-family: indopak-nastaleeq;
  direction: rtl;
}

