<%
  patterns = (1..10).to_a

  group = @resources.first
  is_quran_script = group&.quran_script?
%>

<div class="col-span-12 lg:col-start-2 lg:col-span-12 mt-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4" >
    <% @resources.each do |card| %>
      <%
        search_term = "#{card.name.downcase} #{card.info.to_s.downcase} #{card.humanize_cardinality_type.to_s.downcase} #{card.tag_names.join(' ').downcase}"
      %>

      <%= render 'card/card-container', card: card, patterns: patterns, data: { turbo_frame: '_top', search: search_term } do %>
        <%= render 'card/card_content',
                   card: card,
                   title: link_to(card.name, detail_resources_path(card.resource_type, card.id), class: 'hover:text-[#46ac7a] transition-colors', data: { turbo_frame: '_top' }),
                   show_info: false,
                   is_quran_script: is_quran_script,
                   preview_verse: @preview_verse,
                   text_type: 'text_qpc_hafs',
                   show_download: true,
                   show_tags: true
        %>
      <% end %>
    <% end %>
  </div>
</div>


