<%
  patterns = (1..10).to_a

  resources = local_assigns[:resources] || @resources
  search_context = local_assigns[:search_context] || @resource_search
  group = resources.first
  is_quran_script = group&.quran_script?
%>

<div class="tw-col-span-12 lg:tw-col-start-2 lg:tw-col-span-12 tw-mt-8">
  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-4 tw-mt-4" >
    <% resources.each do |card| %>
      <%
        search_term = "#{card.name.downcase} #{card.info.to_s.downcase} #{card.humanize_cardinality_type.to_s.downcase} #{card.tag_names.join(' ').downcase}"
      %>

      <%= render 'card/card-container', card: card, patterns: patterns, data: { turbo_frame: '_top', search: search_term } do %>
        <%= render 'card/card_content',
                   card: card,
                   eyebrow: content_tag(:span, resource_type_label(card.resource_type), class: 'tw-inline-flex tw-items-center tw-rounded-full tw-bg-white/15 tw-px-3 tw-py-1 tw-text-[11px] tw-font-semibold tw-uppercase tw-tracking-wide tw-text-white'),
                   title: link_to(card.name, resource_search_detail_path(card, search_context), class: 'hover:tw-text-[#46ac7a] tw-transition-colors', data: { turbo_frame: '_top' }),
                   show_info: false,
                   is_quran_script: is_quran_script,
                   preview_verse: @preview_verse,
                   text_type: 'text_qpc_hafs',
                   show_download: true,
                   show_tags: false
        %>

        <% if card.get_tags.present? %>
          <div class="tw-mt-4 tw-flex tw-flex-wrap tw-gap-2">
            <% card.get_tags.each do |tag| %>
              <% facet = Resources::SearchQuery::TagFacet.new(tag: tag, name: tag.name, count: nil, selected: Array(search_context&.selected_tags).include?(tag.name)) %>
              <%= render partial: 'resources/tag_filter', locals: { facet: facet } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
