<div class="surah-name">
  <div class="quran-icon surah-header">header</div>

  <% if chapter %>
    <span class="surah-name-v4-icon surah-icon position-absolute">
      surah<%= chapter.chapter_number.to_s.rjust(3, '0') %> surah-icon
    </span>
  <% else %>
    Chapter not found
  <% end %>
</div>