<div class="surah-name">
  <% if chapter %>
    <span class="icon-surah icon-surah-surah"></span>
    <span class="icon-surah icon-surah<%= chapter.id %>"></span>
  <% else %>
    Chapter not found
  <% end %>
</div>