<%
  filter_juz = local_assigns[:juz]
  filter_page = local_assigns[:page]
  filter_verse = local_assigns[:verse] != false

  chapters = Chapter.order('id asc').map do |c|
    [
      c.humanize,
      c.id,
      data: {
        verses: c.verses_count
      }
    ]
  end

  chapter = Chapter.find_by(id: params[:filter_chapter].to_i) if params[:filter_chapter].present?

  verses_range = (1 .. chapter&.verses_count || 286)
%>

<% if filter_juz %>
  <div class="form-group me-2">
    <%= select_tag :filter_juz, options_for_select(1..30, params[:filter_juz]), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-auto ', id: 'juz-select', data: { placeholder: 'Filter by juz/para', controller: 'select2' } %>
    <p class="form-text">Filter by Juz/Para</p>
  </div>
<% end %>

<% if filter_page %>
  <div class="form-group me-2">
    <%= select_tag :filter_page, options_for_select(1..604, params[:filter_page]), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-auto ', id: 'page-select', data: { placeholder: 'Filter by page', controller: 'select2' } %>
    <p class="form-text">Filter by Page</p>
  </div>
<% end %>

<div class="form-group me-2">
  <%= select_tag :filter_chapter, options_for_select(chapters, params[:filter_chapter]), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-auto ', id: 'chapter-select', data: { controller: 'select2' } %>
  <p class="form-text">Filter by Surah</p>
</div>

<% if filter_verse %>
  <div class="form-group me-2">
    <%= select_tag :verse_number, options_for_select(verses_range, params[:verse_number]), include_blank: true, class: 'form-select tw-w-[85vw] sm:tw-w-auto ', id: 'verse-select', data: { controller: 'select2' } %>
    <p class="form-text">Filter by Ayah</p>
  </div>
<% end %>
