<div id="flash-messages">
  <div class="d-none"
       data-controller="flash-message"
       data-flash-error="<%= flash[:alert] %>"
       data-flash-notice="<%= flash[:notice]  %>">
  </div>
</div>
