<%
  nav_options = (local_assigns[:nav_options] || {}).symbolize_keys
  extra_class = local_assigns[:extra_class].presence
  base = %w[flex flex-col sm:flex-row items-center gap-4 w-full sm:justify-between py-4]
  base << extra_class if extra_class
%>
<div class="<%= base.join(' ') %>">
  <%= safe_html pagy_info_tailwind(pagy) %>
  <% if pagy.pages > 1 %>
    <div class="flex justify-center sm:justify-end w-full sm:w-auto">
      <%= safe_html pagy_nav_tailwind(pagy, **nav_options) %>
    </div>
  <% end %>
</div>
