<div id="flash-messages">
  <div class="d-none"
       data-controller="flash-message"
       data-flash-error="Sorry you can't perform this action, please contact admin to get permission.">
  </div>
</div>
