<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4">
  <div class="page-section tw-mt-4">
    <h2>Logs</h2>

    <div class="tw-overflow-x-auto">
      <table class="tw-w-full hover:tw-bg-gray-50">
        <thead class="tw-sticky tw-top-0 tw-z-10 tw-bg-white tw-border-b tw-border-gray-300">
        <tr class="tw-bg-gray-100 tw-text-left">
          <th class="tw-p-2 tw-border-b">Time</th>
          <th class="tw-p-2 tw-border-b">Surah</th>
          <th class="tw-p-2 tw-border-b">Log</th>
        </tr>
        </thead>

        <tbody>
        <% @logs.each do |log| %>
          <tr class="tw-border-b hover:tw-bg-gray-50">
            <td class="tw-p-2"><%= Time.at log.timestamp %></td>
            <td class="tw-p-2"><%= log.surah_number %></td>
            <td class="tw-p-2"><%= log.log %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>