<%= render 'tools/header',
           name: 'Morphology Treebank',
           key: 'morphology_treebank',
           help: false
%>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <%= render partial: 'index', locals: { collection: @collection } %>
  </div>
</div>
