<div class="tw-px-4 tw-py-3 tw-rounded tw-mb-4 tw-bg-gray-100 tw-border tw-border-gray-400 tw-text-gray-700 tw-flex" role="alert">
  <i class="fa fa-info-circle tw-me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Welcome to the Ayah Translation Tool!
      </strong>
    </p>

    <p>
      The Ayah Translation Tool allows users to review and suggest improvements to the existing translations.
    </p>

    <p>
      If you'd like to contribute to improving the <%= @resource.name %> <%= 'translation' if !@resource.name.end_with?('translation')%>, simply click the link below to send a request to the admin. Once approved, you'll be able to start suggesting the fixes to this translation.
    </p>

    <p id="btn-request-permission">
      <%= link_to 'Request Access', '_', class: 'btn btn-dark',  data: { controller: 'ajax-modal', url: new_user_project_path(resource_id: @resource.id, modal: true), css_class: 'modal-lg'} %>
    </p>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
