<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Welcome to the Ayah Translation Tool!
      </strong>
    </p>

    <p>
      The Ayah Translation Tool allows users to review and suggest improvements to the existing translations.
    </p>

    <p>
      If you'd like to contribute to improving the translations, simply click the link below to send a request to the admin. Once approved, you'll be able to start suggesting valuable translation fixes.
    </p>

    <p>
      <%= link_to 'Request Access', '_', class: 'btn btn-dark' %>
    </p>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
