<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Arabic Character Unicode Value Tool
      </strong>
    </p>

    <p class="mb-0">
      This tool show the Unicode value for characters in a provided input. This tool is useful for identifying and verifying the Unicode points associated with each Arabic character, helping to detect missing or unsupported Unicode points in fonts.
    </p>
  </div>

  <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
