<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Quran Corpus and Grammar Tool
      </strong>
    </p>

    <p class="mb-0">
      The Quran Corpus and Grammar Tool is a work in progress. Stay tuned for updates as we continue to develop this tool to provide in-depth analysis and insights into the grammar and linguistic structure of the Quranic text.
    </p>
  </div>

  <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
