<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      Mushaf layout tool is used to create layout of any physical Mushaf.
      We can adjust pages, number of lines per page, alignment of each line on page, and word placement on each line to
      accurately represent the Mushaf page.
    </p>

    <p class="<%= 'mb-0' if @access %>">
      This page lists the available Mushaf layouts we've in the QUL.
      If you have a unique layout that you'd like to see added to QUL,
      feel free to submit a request
      on <%= link_to 'Github', 'https://github.com/TarteelAI/quranic-universal-library/issues/new/choose', target: '_blank', class: 'link-btn text-dark' %>
      .
    </p>

    <% if !@access %>
      <p>
        If you'd like to contribute to the <%= @resource.name %>, simply click the link below to send a request
        to the admin. Once approved, you'll be able to start contributing to mushaf layout.
      </p>

      <div id="btn-request-permission">
        <%= link_to 'Request Access', '_', class: 'btn btn-dark', data: { controller: 'ajax-modal', url: new_user_project_path(resource_id: @resource.id, modal: true), css_class: 'modal-lg' } %>
      </div>
    <% end %>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>