<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Welcome to the Mushaf layout tool!
      </strong>
    </p>

    <p>
      Mushaf layout tool is used to create layout of any physal mushaf.
      Adjust pages, line alignment, and word placement on each line to accurately represent the Mushaf page.
    </p>

    <p>
      If you'd like to contribute to the <%= @resource.name %>, simply click the link below to send a request
      to the admin. Once approved, you'll be able to start contributing to mushaf layout.
    </p>

    <p id="btn-request-permission">
      <%= link_to 'Request Access', '_', class: 'btn btn-dark',  data: { controller: 'ajax-modal', url: new_user_project_path(resource_id: @resource.id, modal: true), css_class: 'modal-lg'} %>
    </p>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>