<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Welcome to the Mutashabihat builder Tool!
      </strong>
    </p>

    <p>
      The Mutashabihat tool is designed to help users identify and explore the similar or repeated verses
      within the Quran. These verses, known as "mutashabihat," are verses that share similarities in wording, structure,
      or meaning, often reinforcing key messages and themes throughout the Quran.
    </p>

    <p>
      If you'd like to contribute to the Mutashabihat ul Quran data using, simply click the link below to send a request
      to the admin. Once approved, you'll be able to start using the tool to contribute valuable content.
    </p>

    <p id="btn-request-permission">
      <%= link_to 'Request Access to Mutashabihat ul Quran Tool', '_', class: 'btn btn-dark',  data: { controller: 'ajax-modal', url: new_user_project_path(resource_id: @resource.id, modal: true), css_class: 'modal-lg'} %>
    </p>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>