<div class="tw-px-4 tw-py-3 tw-rounded tw-mb-4 tw-bg-gray-100 tw-border tw-border-gray-400 tw-text-gray-700 tw-flex" role="alert" data-controller="alert">
  <i class="fa fa-info-circle tw-me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Quran Scripts Comparison Tool
      </strong>
    </p>

    <p class="mb-0">
      This tool helps you compare different Quranic script variants (Madani and Indopak) and identify inconsistencies.
      Select a script type, choose a character of available scripts, and view all words containing that character across multiple script variants.
    </p>
  </div>

  <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

