<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Quran Script and Font compatibility Tool
      </strong>
    </p>

    <p>
      The Quran Script and Font Rendering Tool is used to check the compatibility of different Quranic scripts with various fonts.
      If you encounter any issues with font rendering or script compatibility, please report them on <%= link_to 'Github', 'https://github.com/TarteelAI/quranic-universal-library/issues/new/choose', target: '_blank', class: 'link-btn text-dark' %>.
    </p>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>