<div class="tw-px-4 tw-py-3 tw-rounded tw-mb-4 tw-bg-gray-100 tw-border tw-border-gray-400 tw-text-gray-700 tw-flex" role="alert">
  <i class="fa fa-info-circle tw-me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Word Comparison Tool
      </strong>
    </p>

    <p class="mb-0">
      This tool allows you to easily compare words and find all instances containing a specific letter.    </p>
  </div>

  <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

