<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    <p>
      <strong>
        Word Comparison Tool
      </strong>
    </p>

    <p class="mb-0">
      This tool allows you to easily compare words and find all instances containing a specific letter.    </p>
  </div>

  <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

