<div class="alert alert-secondary d-flex" role="alert">
  <i class="fa fa-info-circle me-2 fa-2x"></i>
  <div>
    This page provides a suite of tools designed to help you review, proofread, and improve the existing data in the
    Quranic Universal Library.
    <p>
      All of these tools are protected, and you will need access to suggest any fixes. Please
      <a href="https://support.tarteel.ai/hc/en-us/requests/new" target="_blank">click here</a> if you need access
      to any tool. Your contributions are crucial in maintaining the integrity and quality of the information we
      provide. Please use these tools thoughtfully, and refer to the guidelines provided for each tool to understand
      their specific functions and how best to utilize them.
    </p>
  </div>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>