<div class="tw-p-6" id="modal-body">
  <ul class="nav nav-tabs nav-tabs-clean" id="ayahTabs" role="tablist">
    <li class="tw-m-0" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 tw-rounded hover:tw-bg-gray-200 active" id="ayah-tab" data-bs-toggle="tab" data-bs-target="#ayah" type="button" role="tab" aria-controls="ayah" aria-selected="true">Ayah</button>
    </li>
    <li class="tw-m-0" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 tw-rounded hover:tw-bg-gray-200" id="translations-tab" data-bs-toggle="tab" data-bs-target="#translations" type="button" role="tab" aria-controls="translations" aria-selected="false">Translations</button>
    </li>
    <li class="tw-m-0" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 tw-rounded hover:tw-bg-gray-200" id="tafsirs-tab" data-bs-toggle="tab" data-bs-target="#tafsirs" type="button" role="tab" aria-controls="tafsirs" aria-selected="false">Tafsirs</button>
    </li>
    <li class="tw-m-0" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 tw-rounded hover:tw-bg-gray-200" id="words-tab" data-bs-toggle="tab" data-bs-target="#words" type="button" role="tab" aria-controls="words" aria-selected="false">Words</button>
    </li>
  </ul>

  <div class="tab-content tw-p-4" id="ayahTabsContent">
    <div class="tab-pane fade show active" id="ayah" role="tabpanel" aria-labelledby="ayah-tab">
      <div class="qpc-hafs">
        <%= @ayah.text_qpc_hafs %>
      </div>
    </div>

    <div class="tab-pane fade" id="translations" role="tabpanel" aria-labelledby="translations-tab">
      <h4>WIP</h4>
    </div>

    <div class="tab-pane fade" id="tafsirs" role="tabpanel" aria-labelledby="tafsirs-tab">
      <h4>WIP</h4>
    </div>

    <div class="tab-pane fade" id="words" role="tabpanel" aria-labelledby="words-tab">
      <h4>WIP</h4>
    </div>
  </div>
</div>
