

<%= render 'layouts/grid' do %>
  <div class="tw-mb-5 tw-mt-6">
    <h1 class="tw-text-2xl md:tw-text-3xl">
      Contributors
    </h1>
    <p class="tw-mt-6">
      QUL would not be possible without the blessings of Allah (سبحانه وتعالى) and the dedication of these amazing contributors—whether through writing code, refining content, or reviewing valuable Quranic resources.
    </p>
    <p class="tw-mt-3">
      May Allah accept their efforts as Sadaqah Jariyah, grant them barakah in their time and knowledge, and multiply their rewards in this life and the next. May He honor every contribution, big or small, and make this project a lasting benefit for the Ummah.
    </p>

    <div class="tw-mx-auto tw-py-12">
      <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 md:tw-grid-cols-3 lg:tw-grid-cols-4 tw-gap-8">
         <% @contributors.each do |contributor| %>
          <div class="contributor-card tw-bg-white tw-rounded-xl tw-overflow-hidden tw-shadow-md hover:tw-shadow-lg tw-border tw-border-gray-300">
            <div class="tw-p-6 tw-flex tw-flex-col tw-items-center">
            <div class="avatar tw-mb-4 tw-rounded-full tw-overflow-hidden tw-w-24 tw-h-24 tw-border-4 tw-border">
              <%= image_tag contributor.logo, alt: contributor.name, class: 'tw-w-full tw-h-full tw-object-cover' %>
            </div>

            <h3 class="tw-text-xl tw-font-semibold tw-text-gray-900 tw-mb-2">
              <%= link_to contributor.name, contributor.url, target: :_blank %>
            </h3>

            <div class="tw-text-gray-500 tw-text-sm tw-text-center tw-mb-4">
              <%== contributor.description.to_s %>
            </div>
          </div>
          </div>
        <% end %>
      </div>

      <div class="tw-mt-16 tw-text-center">
        <h2 class="tw-text-2xl tw-font-semibold tw-text-gray-800  tw-mb-2">
          Want to be part of this beautiful journey?
        </h2>
        <div class="tw-text-sm tw-text-gray-500  tw-mb-4">
          Whether you're a developer or passionate about Quranic content, we’d love to hear from you. Just open a new issue on Github using the link below, and we’ll get back to you as soon as possible.
        </div>

        <a href="https://github.com/TarteelAI/quranic-universal-library/issues/new/choose" class="tw-mt-4 tw-px-8 tw-py-3 tw-bg-gray-900 tw-text-white tw-rounded-full tw-text-sm tw-font-semibold hover:tw-bg-gray-800 hover:tw-text-white tw-transition-colors">
          Contribute to QUL
        </a>
      </div>

    </div>
  </div>
<% end %>
