<%= javascript_include_tag "svg/index", defer: true %>
<%= stylesheet_link_tag "svg/index", defer: true %>

<div class="page-wrapper tw-container tw-max-w-7xl tw-mx-auto tw-px-4 mt-0">
  <div class="page-section tw-tw-mt-4">
    <div id="app">
      <p>Loading</p>
    </div>
  </div>
</div>
