<%= javascript_include_tag "svg/index", defer: true %>
<%= stylesheet_link_tag "svg/index", defer: true %>

<div class="page-wrapper mt-0">
  <div class="page-section">
    <div id="app">
      <p>Loading</p>
    </div>
  </div>
</div>