<div id=title>
  <%= @foot_note.id %>
</div>

<div id="body">
  <div class="modal-body <%= @foot_note.language_name %>">
  <div>
    <%= @foot_note.try(:draft_text).to_s.html_safe %>
  </div>

  <div>
    <%= @foot_note.try(:text).to_s.html_safe %>
  </div>
  </div>
</div>