.device-container {
  min-height: 100vh;
  display: flex;
  align-content: flex-start;
  overflow-x: hidden;

  canvas{
    width: 1500px;
    height: 800px !important;
  }

  .left {
    position: relative;
    background-color: #000;
    border-radius: 30px;
    height: 85vh;
    z-index: 1;
    overflow: hidden;

    @media (max-width: $screen-sm) {
      height: 40vh;
      padding: 0!important;
     // background-image: url("landingbackground.png");
      //background-position: center;
      //background-repeat: no-repeat;
     // background-size: cover;
    }

    .qul-tag-wrapper{
      @media (max-width: $screen-sm) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      }
  }

  .right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 100;
  }
}

