footer {
  //padding: 5px 15px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  > div {
    width: 100%;
  }

  .left{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .right{
    display: flex;
    gap: 20px;
    justify-content: start;

    > a {
      width: max-content;
    }

    @media (min-width: $screen-md) {
      justify-content: end;
    }
  }

  .spacer{
    height: 30px;
    width: 1px;
    background-color: grey;
  }
}
