.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  overflow: hidden;
  z-index: 200;
  position: sticky;
  top: 0;
  overflow: visible;

  .btn-outline-dark {
    background-color: white;
  }

  .btn-outline-dark:hover {
    background-color: black;
  }

  .github-link {
    display: flex;
    gap: 5px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
