.hero {
  background-color: #000;
  margin: 0px 15px 0px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebebeb;

  /*@media (max-width: 640px) {
    background-image: url("landingbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/

  .qul-tag {
    color: $gray-300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    margin-top: 31px;
    line-height: 15px;
  }

  .hero-message {
    margin: 25px 0px 25px 0px;
    display: flex;

    canvas{
      width: 50% !important;
    }
  }

  .tagline {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Sarina", cursive;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.163px;
  }

  .sub-tagline {
    font-family: "Open Sauce Sans";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.163px;
  }

  .powered-by {
    .text {
      font-size: 13px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .right-section{
    z-index: 100;
  }

  @media (max-width: $screen-md) {
    .tagline,
    .sub-tagline {
      font-size: 30px;
      line-height: normal;
    }

    .hero-message{
      canvas{
        width: 100% !important;
        position: absolute;
        left: 0;
        top:0;
        z-index: 1;
      }
    }
  }
}

.overview {
  margin: 40px 30px 40px 30px;
  font-family: Inter;

  .title {
    color: #0c1210;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
  }

  .detail {
    color: #1c1919;
    font-family: "Open Sauce Sans";
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
  }

  .left {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    line-height: normal;

    small {
      font-style: italic;
    }
  }

  .right {
    font-size: 20px;
    line-height: normal;
    opacity: .5;
  }

  strong {
    font-weight: 600;
  }

  @media (max-width: $screen-md) {
    .detail {
      font-size: 20px;
    }

    .left {
      font-size: 16px;

      a {
        margin-bottom: 20px;
        width: 100%;
      }
    }

    strong {
      font-size: 19px !important;
    }
  }
}