.hero {
  .hero-message{
    canvas {
      width: 100% !important;
      position: absolute;
      top: 50px;
      z-index: 1;

      @media (min-width: $screen-md) {
        left: 25vw;
      }
    }
  }
}
