.hero {
  background-color: #000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebebeb;
  overflow: hidden;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 10;
  }

  /*@media (max-width: 640px) {
    background-image: url("landingbackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/

  .tarteel-logotype {
    filter: invert(1);
    width: 120px;
  }

  .qul-tag {
    color: $gray-300;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 1.1;
  }

  .hero-message {
    display: flex;
    overflow: hidden;

    canvas{
      width: 50% !important;
      width: 1500px;
      height: 600px !important;
      left: 0;
      top:0;

      @media (max-width: $screen-lg) {
        margin-top: -85px;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  .tagline-subtext {
    color: $gray-500;
    font-size: 1.5rem;
    line-height: 1.3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    @media (max-width: $screen-md) {
      color: #ebebeb;
    }
  }

  .txt {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: $gray-500;
    font-weight: 700;
    font-size: 0.8125rem;
  }

  .tagline-container {
    text-wrap: balance;
  }

  .sub-tagline {
    font-family: "Open Sauce Sans";
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }

  .powered-by {
    .text {
      font-size: 13px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .right-section {
    z-index: 100;

    @media (max-width: $screen-lg) {
      width: 100%;
    }
  }

  @media (max-width: $screen-md) {
    .tagline,
    .sub-tagline {
      font-size: 30px;
      line-height: normal;
    }
  }

  @media (max-width: $screen-lg) {
    .tagline-container {
      max-width: 28em;
    }

    .hero-message{
      canvas {
        width: 100% !important;
        position: absolute;
        top: 50px;
        z-index: 1;

        @media (min-width: $screen-md) {
          left: 25vw;
        }
      }
    }
  }
}

.overview {
  font-family: Inter;

  .title {
    display: inline-block;
    color: #0c1210;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
  }

  .tagline {
    font-family: "Sarina", cursive;
    font-size: 3rem;
    letter-spacing: -0.163px;
  }

  .detail {
    color: #1c1919;
    font-family: "Open Sauce Sans";
    font-size: 40px;
    font-weight: 400;
    text-wrap: pretty;
    max-width: 20ch;
    h2 {
      font-size: 2rem;
    }
  }

  .left {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    line-height: normal;
    text-wrap: pretty;

    small {
      font-style: italic;
    }
  }

  .right {
    font-size: 20px;
    line-height: normal;
    opacity: .5;
    text-wrap: pretty;

    @media (max-width: $screen-md) {
      font-size: 16px;
      opacity: 1;
    }
  }

  strong {
    font-weight: 600;
  }

  @media (max-width: $screen-md) {
    .detail {
      font-size: 20px;
    }

    .left {
      font-size: 16px;

      a {
        margin-bottom: 20px;
        width: 100%;
      }
    }

    strong {
      font-size: 19px !important;
    }
  }
}
