.sidescroll-container {
  padding: 0 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;

  @media (min-width: $screen-xl) {
    padding: 0 calc(1rem + (100vw - 1680px) / 2);
  }
}

.dropdown-toggle,
.dropdown-item {
  color: black;
}
