.tool-card{
  color: white;
  font-size: 27px;
  font-family: Inter;
  font-weight: 600;
  line-height: 32px;
  word-wrap: break-word;

  .title{
    font-size: 15px;
    font-weight: 700;
    line-height: 21.75px;
  }

  .info{
    font-size: 13px;
    font-weight: 700;
    line-height: 18.20px;
  }
}
