.developer-tools {
  background-color: #000;
  color: #fff;
  position: relative;
}

.tools-container {
  padding: 0 0.75rem;
  position: relative;

  @media (min-width: $screen-lg) {
    padding: 0 calc(0.75rem + (100vw - 1600px) / 2);
  }

  display: flex;
  overflow-x: auto;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;


  a {
    text-decoration: none;
    color: white;
  }
}

.tool-card {
  position: relative;
  overflow: hidden;
  display: flex;
  min-width: 400px;
  height: 558px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 45px;
  scroll-snap-align: center;

  @media (max-width: $screen-sm) {
    min-width: 256px !important;
    gap: 12px;
    height: 370px;
  }

  @media (max-width: $screen-md) {
    min-width: 326px !important;
    gap: 15px;
    height: 400px;
  }

  // &:last-child {
  //   margin-inline-end: 30px;
  // }

  /*.info-tip {
    position: absolute !important;
    left: 24px;
    bottom: 32px;
  }*/

  .cta {
    padding: 4px 10px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #fff;
    }
  }
}
