@import "fonts";

@import "bs_override";

.nav_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}

.logo {
  width: 32px;
  height: 32px;
}

.navbar_Text {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.github-link {
  display: flex;
  gap: 5px;
  text-decoration: none;
}

.navbar_Text_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.admin_btn {
  width: 154px;
  height: 36px;
  gap: 16px;
  border-radius: 66px;
  border: 1px solid var(--neutral-gray-600404040, #404040);
  color: var(--neutral-gray-600404040, #404040);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

/* landingPage header style */
.landingPage_header {
  background-color: #000;
  margin: 0px 15px 0px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.header_rightside_container {
  display: flex;
  flex-direction: column;
  gap: 94px;
  width: 560px;
  margin: 25px 0px 25px 0px;
}

.rightside_firstPart {
  display: flex;
  justify-content: space-between;
}

.qul1_text {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Open Sauce Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 77px;
  line-height: 15px;
  margin-top: 31px;
}

.firstPart_icons {
  display: flex;
  flex-direction: column;
}

.project_by {
  font-size: 13px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.header_tarteel_text {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

/* overview section style */
.overview_container {
  margin: 40px 30px 40px 30px;
}

.overview_text {
  color: #0c1210;
  font-size: 20px;
  font-weight: 600;
}

.overview_detail_text {
  max-width: 1200px;
  color: #1c1919;
  font-family: "Open Sauce Sans";
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}

.overview_lowerpart {
  max-width: 1200px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 42px;
}

.overveiw_startbtn {
  width: 306px;
  height: 80px;
  border-radius: 66px;
  border: 1px solid var(--neutral-white-ffffff, #fff);
  background: #000;
  color: var(--neutral-white-ffffff, #fff);
  font-size: 16px;
  font-weight: 700;
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

    &:hover {
        background-color: #fff;
        color: #000;
      border: 1px solid #303030;
    }
}

.overview_lowerRight_text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  width: 580px;
  opacity: 0.5;
}

.overview_lowerLeft_Text {
  width: 554px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter;
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.24px;
}

.overview_lowerLeft_QUL {
  font-weight: 700;
}

.overview_lowerLeft_QUL2 {
  font-weight: 700;
}

/* Developer Resources section */
.developer_resources_container {
  background-color: #000;
  padding: 40px 30px 40px 30px;
  color: #fff;
}

.dr_card_container {
  margin: 40px 0px 40px 0px;
  display: flex;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.dr_card {
  display: flex;
  width: 428px;
  height: 558px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  // url("https://plus.unsplash.com/premium_photo-1720032305215-7f87e9a704ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(22.200000762939453px);
}

.dr_card2 {
  display: flex;
  width: 428px;
  height: 558px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
  //  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //url("https://images.unsplash.com/photo-1616257240646-0fa3cef93173?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(22.200000762939453px);
}

.dr_card3 {
  display: flex;
  width: 428px;
  height: 558px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
  //  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  // url("https://plus.unsplash.com/premium_photo-1677013623376-8c80f17e6171?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(22.200000762939453px);
}

.dr_lmore_btn {
  padding: 4px 8px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.2);
}

.dr-card_description {
  color: var(--neutral-white-ffffff, #fff);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.135px;
  opacity: 0.8;
}

.dr_card_footer_text {
  margin: 0px;
  padding: 0;
  color: var(--neutral-white-ffffff, #fff);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.135px;
  opacity: 0.5;
}

.dr_icon {
  margin-left: 70px;
}

.dr_footer_text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.6;
}

.dr_footer_text:hover {
  cursor: pointer;
}

/* Footer */
.footer_container {
  padding: 5px 15px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_miniborder {
  height: 50px;
  width: 2px;
  background-color: grey;
}

.footer_icon {
  display: flex;
  flex-direction: column;
}

.footer_left_container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer_left_text {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Open Sauce Sans";
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  opacity: 0.9;
  width: 50px;
}

.footer_right_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer_right_text {
  color: var(--2-on-surface-300, #969696);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
}
