@import "fonts";

body {
  overflow-x: hidden;
  
  > div[role="tooltip"] {
    position: fixed !important;
    
    &[style*="visibility: hidden"] {
      display: none !important;
    }
  }
}

@import "buttons";
@import "tools";
@import "bootstrap-overrides";
@import "devise_styles";
@import "tabs";
@import "tool_cards";
@import "resource_show";
@import "nav";

.qul-tag {
  font-family: Inter;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.toggle-password {
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 15px;
}
