@import "fonts";

body {
  overflow-x: hidden;
}

@import "header";
@import "footer";
@import "buttons";
@import "hero";
@import "tools";
@import "bootstrap-overrides";
@import "devise_styles";
@import "tabs";
@import "tool_cards";
@import "resource_show";


.qul-tag {
  font-family: Inter;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}