.search-wrapper{
  .resource-search-input {
    padding: 10px 24px 10px 50px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #979797;
    background: #FFF;
    border-width: 1px;

    &:focus {
      outline-color: $primary
    }
  }
}

.custom-breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $screen-md) {
    text-align: start;
    justify-content: start;
  }

  .breadcrumb-link {
    color: #6c757d;
    position: relative;
    padding-right: 10px;

    &:not(:last-child)::after {
      content: '>';
      color: #6c757d;
      margin-left: 10px;
    }

    &:hover {
      color: black;

    }

    &.active {
      font-weight: bold;
      cursor: default;
    }

    &:not(.active) {
      cursor: pointer;
    }
  }
}
