<div class="container-lg pt-5">
  <div class="alert alert-danger">
    <strong>
      Important Notice:
    </strong>

    <p>
      Please be aware that the data available on this page is sourced from various external resources and may contain
      errors or inaccuracies. While we strive to provide accurate and reliable information, we cannot guarantee the
      completeness or correctness of all content.
    </p>

    <p>
      Additionally, no translation of the Qur’an can fully capture the transcendent meanings of its miraculous text.
      Despite every effort to ensure accuracy, translations are inherently limited by the translators’ understanding and
      knowledge. Therefore, errors or omissions may still be present. The translations provided here are the result of
      human endeavor and should be used as a reference rather than a definitive interpretation.
    </p>

    <p>
      If you find any issues with the resources provided, please report them to us <a class="text-danger" href="https://support.tarteel.ai/hc/en-us/requests/new">here</a>. Your feedback is valuable in helping
      us improve the quality and accuracy of the Quranic content.
    </p>
  </div>
</div>
