<div class="tw-bg-slate-100 tw-p-4 tw-rounded-xl tw-space-y-3 tw-text-sm tw-text-slate-900">
  <p class="tw-font-bold tw-text-slate-700">
    Important Notice
  </p>
  <p>
    The information on this page comes from external sources and may contain errors. While we aim for accuracy, we cannot guarantee all content is complete or correct. No translation of the Qur'an can fully capture its deeper meanings, and translations may have limitations based on the translator’s understanding. Please use these translations as references, not definitive interpretations.
  </p>
  <p>
    If you find any issues with the resources provided, <a href="https://github.com/TarteelAI/quranic-universal-library/issues/new/choose" class="tw-font-semibold tw-underline hover:tw-text-black">please report them to us</a>. Your feedback is valuable in helping us improve the quality and accuracy of the Quranic content.
  </p>
</div>
