<section class="tw-mb-4">
  <% resource_type =  resource.resource_type.gsub('-', '_')%>
  <%= render "resources/previews/#{resource_type}", resource: resource %>
</section>

<script>
  function jumpTo(key, val){
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set(key, val);
    Turbo.visit(currentUrl.toString());
  }

  function jumpToAyah(selectAyah) {
    jumpTo('ayah', selectAyah);
  }

  function jumpToSurah(selectSurah) {
    jumpTo('surah', selectSurah);
  }

  function jumpToPage(selectedPage) {
    jumpTo('page', selectedPage);
  }
</script>