<div class="resources-list">
  <div class="tw-flex tw-items-start md:tw-items-center tw-gap-4 tw-flex-col lg:tw-flex-row tw-justify-between">
    <div class="tw-flex tw-gap-6 tw-items-center">
      <h2 class="tw-text-2xl md:tw-text-3xl tw-font-light tw-leading-none">
        Available Resources
      </h2>
      <div class="tw-rounded-full tw-bg-[#E0FAEC] tw-text-[#099a4d] tw-font-bold tw-px-3.5 tw-py-1 tw-leading-none tw-border-2 tw-border-[#56B599] tw-inline-block tw-min-w-[35px] tw-text-center">
        <%= featured_downloadable_resource_cards.length + downloadable_resource_cards.length %>
      </div>
    </div>
    <div class="tw-flex tw-items-center tw-justify-end tw-gap-3 tw-w-full lg:tw-w-1/3 tw-mt-5 md:tw-mt-0">
      <div class="tw-w-full">
        <%= render partial: 'shared/search_input' %>
      </div>
    </div>
  </div>
  <div id="empty-results-message" class="tw-hidden tw-mt-4 tw-text-2xl tw-text-gray-500">
    <p>No results found</p>
  </div>
  <%= render 'resources/resources_table', resources: featured_downloadable_resource_cards.merge(downloadable_resource_cards) %>
</div>
