<%
  permission = @resource.resource_content.resource_permission
  notice = permission&.copyright_notice
%>

<div id=title>
  Copyright Information
</div>

<div id=body>
  <div class="p-6 copyright">
    <style>
      .copyright h5{font-weight: bold}
    </style>

    <% if notice.present? %>
      <div class="bg-red-100 border border-red-400 text-red-700 p-4 rounded-lg text-base">
        <%= safe_html notice %>
      </div>
    <% else %>
      <div class="bg-yellow-50 border border-yellow-300 text-yellow-800 p-4 rounded-lg text-base">
        We don’t have copyright information for this resource.
      </div>
    <% end %>
  </div>
</div>