<%
  permission = @resource.resource_content.resource_permission
  notice = permission&.copyright_notice
%>

<div id=title>
  Copyright Information
</div>

<div id=body>
  <div class="modal-body copyright">
    <style>
      .copyright h5{font-weight: bold}
    </style>

    <% if notice.present? %>
      <div class="tw-bg-red-100 tw-border tw-border-red-400 tw-text-red-700 tw-p-4 tw-rounded-lg tw-text-base">
        <%= safe_html notice %>
      </div>
    <% else %>
      <div class="tw-bg-yellow-50 tw-border tw-border-yellow-300 tw-text-yellow-800 tw-p-4 tw-rounded-lg tw-text-base">
        We don’t have copyright information for this resource.
      </div>
    <% end %>
  </div>
</div>