<div id="resources" data-controller="resource-search">
  <%= render 'hero' %>

  <div class="container-lg mt-3 pt-md-4">
    <div class="alert alert-dark" role="alert">
      <h4>
        About This Page
      </h4>
      Below you will find a list of the categories of Quranic data available on QUL, for example translations, tafsirs,
      and surah information. Clicking on one of these resource categories will take you to a page where you can download
      the various resources belonging to that category in formats such as sqlite and json. For more granular options to
      find and download resources, visit the advanced admin panel. Resources included in QUL are intended for you to
      download and package with your own project; no API is available
    </div>
  </div>

  <%= render 'resources_list' %>

  <div id="empty-results-message" class="container-lg d-none">
    <p>No results found</p>
  </div>
</div>

<%= render 'content_notice' %>

