<div id="resources" data-controller="resource-search">
  <%= render 'hero' %>
  <%= render 'resources_list' %>
  <div id="empty-results-message" class="container-lg d-none">
    <p>No results found</p>
  </div>
</div>

<%= render 'content_notice' %>

