<% page_number = @mushaf_page.page_number %>

<div class="page-wrapper container-lg page-section">
  <div class="mushaf-wrapper">
    <div class="mushaf-layout <%= @mushaf.default_font_name %>">
      <%= render 'shared/mushaf_page', words: @words, page: page_number, mushaf: @mushaf, name: @resource.name %>
    </div>
  </div>
</div>