<%
  page_number = @mushaf_page.page_number
  pdf_page_offset = (@resource.meta_value('source-pdf-page-offset') || 1).to_i
%>


<div class="page-wrapper container-lg">
  <div class="mushaf-wrapper resize-container" data-controller="resizeable">
    <div class="resizable" id="left-side">
      <%= render 'shared/pdf_or_archive_embed', jump_to_page: page_number, page_offset: pdf_page_offset %>
    </div>

    <div class="handler"></div>

    <div class="mushaf-layout resizable <%= @mushaf.default_font_name %> justify-content-between" id="right-side">
      <%= render 'line_alignment' %>

      <%= render 'shared/mushaf_page', words: @words, page: page_number, mushaf: @mushaf, name: @resource.name %>
    </div>
  </div>
</div>

