<%
  pdf_page_offset = (@resource.meta_value('source_pdf_page_offset') || 2).to_i
  page_number =  @mushaf_page.page_number.to_i + pdf_page_offset
%>

<div class="page-wrapper container-lg">
  <div class="resize-container" data-controller="resizeable">
    <div class="resizable" id="left-side" data-turbo-permanent="true">
      <%= render 'shared/pdf_or_archive_embed', jump_to_page: page_number, page_offset: pdf_page_offset %>
    </div>

    <div class="handler"></div>

    <div class="resizable" id="right-side">
      <%= render 'page_mapping' %>
    </div>
  </div>
</div>
