<div id=title>
  <h5 class="text-lg font-semibold">Select page <%= @resource.name %></h5>
</div>

<div id=body>
  <div class="p-6">
    <div class="bg-white rounded-lg p-4">
      <div class="grid grid-cols-10 gap-2 overflow-y-auto max-h-[70vh]">
        <% 1.upto(@mushaf.pages_count) do |page| %>
          <% if params[:edit] %>
            <%= link_to page.to_s, mushaf_layout_path(@mushaf.id, page_number: page, compare: params[:compare], view_type: params[:previous_view_type]),
                        class: "px-3 py-1.5 bg-gray-50 hover:bg-blue-500 hover:text-white rounded text-center transition-colors duration-200 text-sm"
            %>
          <% else %>
            <%= link_to page.to_s, edit_mushaf_layout_path(@mushaf.id, page_number: page),
                        class: "px-3 py-1.5 bg-gray-50 hover:bg-blue-500 hover:text-white rounded text-center transition-colors duration-200 text-sm"
            %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

