<%
  surah, group_start_ayah = @tafisr.group_verse_key_from.split(':').map(&:to_i)
  _, group_end_ayah = @tafisr.group_verse_key_to.split(':').map(&:to_i)

  actions = []
  more_action = []
  verse = if params[:verse_key].present?
            Verse.find_by(verse_key: params[:verse_key].downcase)
          end
  verse ||= Verse.find_by(verse_key: "#{surah}:#{group_start_ayah}")
  next_ayah = verse.next_ayah
  previous_ayah = verse.previous_ayah

  view_type = params[:view_type].presence || 'ayah'
  if !tafisr_view_types.include?(view_type)
    view_type = 'ayah'
  end
  more_action << link_to('Tafsir view', tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id), class: 'dropdown-item')
  more_action << link_to('Tafsir with arabic view', tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id, view_type: 'page_with_arabic'), class: 'dropdown-item')
  more_action << link_to('Proofreading view(With pdf)', tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id, view_type: 'page_with_pdf'), class: 'dropdown-item')

  if @access
    actions << link_to('Edit', edit_tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id), class: 'btn btn-success')
  end

  actions << "<div class='dropdown'>
      <button class='btn btn-primary dropdown-toggle' type='button' data-bs-toggle='dropdown' aria-expanded='false'>
        Change view
      </button>
      <ul class='dropdown-menu text-dark'>
       #{more_action.map do |action|
    "<li>#{action}</li>"
  end.join('')
  }
    </ul>
    </div>"

  if previous_ayah
    actions << link_to('Previous ayah', tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id, draft: params[:draft], verse_key: previous_ayah.verse_key), class: 'btn btn-dark')
  end

  if next_ayah
    actions << link_to('Next ayah', tafsir_proofreading_path(@tafisr.id, resource_id: @resource.id, draft: params[:draft], verse_key: next_ayah.verse_key), class: 'btn btn-dark')
  end

  actions << link_to('Back to filter', tafsir_proofreadings_path(resource_id: @resource.id), class: 'btn btn-info')
%>

<%= render 'tools/header',
           name: "Ayah tafsir",
           title: "#{@resource.name} <div style='font-size: 0.5em'>#{@tafisr.group_verse_key_from} - #{@tafisr.group_verse_key_to}</div>",
           key: 'ayah_tafsir',
           actions: actions
%>

<div class="page-wrapper container-lg">
  <div class="page-section">
    <%= render "#{view_type}_view", verse: verse %>
  </div>
</div>