<% color = tag.color_class.presence || 'blue' %>

<% if tag.description.present? %>
  <%= link_to tag.name, docs_path(tag.slug), class: "tw-bg-#{color}-100 tw-text-#{color}-600 tw-font-medium tw-px-4 tw-py-1 tw-rounded-full cursor-pointer", data: { controller: 'ajax-modal', url: docs_path(tag.slug), css_class: 'modal-lg' } %>
<% else %>
  <span class="tw-bg-<%= color %>-100 tw-text-<%= color %>-600 tw-font-medium tw-px-4 tw-py-1 tw-rounded-full cursor-pointer">
    <%= tag.name %>
  </span>
<% end %>


