<div class="sidescroll-container tw-grid tw-grid-flow-col tw-auto-cols-[325px] md:tw-auto-cols-[400px] tw-overflow-auto tw-items-center tw-relative tw-gap-3 md:tw-gap-4"
     data-controller="draggable-scroll"
     data-action="mousedown->draggable-scroll#mouseDownHandler">
  <%= yield %>
</div>
