<div class="tw-inline-block tw-text-sm tw-font-semibold tw-py-1 tw-px-3 tw-rounded-full <%= resource_tag_class(tag.strip) %>">
  <span class="tw-text-white tw-text-center">
    <%= tag %>
  </span>
</div>