<%
  pattern = local_assigns[:patterns]&.sample
  is_link = card.respond_to?(:url) && card.url.present?
  tag_name = is_link ? :a : :div
  href_attr = is_link ? { href: card.url } : {}
  card_type = card.respond_to?(:type) ? card.type : ''
  data_attrs = local_assigns[:data] || {}
%>

<%= content_tag tag_name, class: "tw-w-full tw-h-full tw-inline-block tw-transition-transform tw-duration-300 hover:tw-scale-[1.02] tw-group", **href_attr, data: data_attrs  do %>
  <div class="tw-relative tw-rounded-3xl md:tw-rounded-[45px] tw-h-full tool-card-with-bg tw-px-6 md:tw-px-8 tw-py-6 tw-shadow-xl hover:tw-shadow-2xl tw-transition-all tw-duration-300 <%= "#{card_type} pattern#{pattern}" %>">
    <div class="overlay tw-opacity-90 group-hover:tw-opacity-85 tw-transition-opacity tw-duration-300"></div>
    <%= yield %>
  </div>
<% end %>
