
.resize-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  overflow: hidden;
}

.resizable {
  border: 1px solid #ccc;
  max-height: 950px;
  overflow-y: auto;
}

.resize-heading {
  position: sticky;
  top: 0;
  background: #dedede;
  z-index: 100;
}

.handler {
  width: 10px;
  margin-right: 5px;
  background-color: #333;
  cursor: ew-resize;
  user-select: none;
}

#pdf-container {
  overflow: auto;
  position: relative;
}