#resource-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('resource-header-bg.svg');
  mix-blend-mode: difference;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;

  @media (min-width: $screen-md) {
    height: 1400px;
    top: -126px;
    background-size: contain;
    background-position: top;
  }
}

#resource-message {
  color: #1C1919;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Open Sauce Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 70%;

  .fw-light {
    font-weight: 400;
  }

  @media (max-width: $screen-sm) {
    font-size: 17px;

    .fw-light {
      font-size: 12px;
    }
  }
}

#resources {
  #hero {
    border-bottom: 1px solid #CCC;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: Inter;

    @media (max-width: $screen-sm) {
      margin-top: 20px;
      width: 100%;
    }
  }

  .search-icon {
    position: absolute;
    left: 20px;
  }

  .search-input {
    padding: 10px 60px 10px 50px;
    width: 485px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid #979797;
    background: #FFF;
    border-width: 1px;

    &:focus {
      outline-color: $primary;
    }

    @media (max-width: $screen-sm) {
      height: 50px;
      padding: 10px 10px 10px 50px;
    }
  }

  .resources-list {
    .count-badge {
      color: $primary;
      border: 1px solid $green-500;
      padding: 3px 15px 3px 15px;
      border-radius: 1332px;
      background-color: $green-200;
    }

    .featured-resource-card {
      border-radius: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &.card-recitations {
        background-image: url('resource-cards/audio.png');
      }

      &.card-mushaf-layouts {
        background-image: url('resource-cards/mushaf-layout.png');
      }
    }

    .featured-count-badge {
      border-radius: 1332px;
      background-color: #E0FAEC;
      color: #099a4d;
      font-weight: bold;
      padding: 2px 10px 2px 10px;
      border: 2px solid #56B599;
    }

    .resource-card {
      height: 550px;
      width: 400px;
      border-radius: 24px;
      position: relative;
    }

    .full-card {
      width: 100%;
      height: 558px;
      border-radius: 24px;
      background-size: cover;
      background-position: center;
    }
  }
}

#empty-results-message {
  font-size: 24px;
  color: #656565;
}
