#resource-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('resource-header-bg.svg');
  mix-blend-mode: difference;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  z-index: -10;

  @media (min-width: $screen-lg) {
    height: 1400px;
    top: -90px;
    background-size: contain;
    background-position: top;
  }
}

#resource-message {
  color: #1C1919;
  font-family: "Open Sauce Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  .fw-light {
    font-weight: 400;
  }

  @media (max-width: $screen-sm) {
    font-size: 17px;
  }

  @media (min-width: $screen-md) {
    font-size: 32px;
    text-align: left;
  }

  @media (min-width: $screen-lg) {
    max-width: 70%;
    font-size: 48px;
  }
}

#resources {
  .resources-list {
    .card-container {
      display: grid;
        grid-template-columns: 1fr;

      @media (min-width: $screen-md) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $screen-lg) {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      }
    }

    .count-badge {
      color: $primary;
      border: 1px solid $green-500;
      padding: 3px 15px 3px 15px;
      border-radius: 1332px;
      background-color: $green-200;
    }

    .featured-resource-card {
      position: relative;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
        border-radius: 23px;
      }

      .overlay ~ * {
        position: relative;
        z-index: 20;
        color: white;
      }

      a {
        text-decoration: none;
        color: white;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }

      border-radius: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &.card-recitations {
        background-image: url('resource-cards/audio.png');
      }

      &.card-mushaf-layouts {
        background-image: url('resource-cards/mushaf-layout.png');
      }
    }

    .resource-card {
      height: 550px;
      border-radius: 24px;
      position: relative;

      @media (max-width: $screen-sm) {
        min-height: 370px;
      }

      @media (max-width: $screen-md) {
        min-height: 400px;
      }

      a {
        text-decoration: none;
        color: white;
      }

      .dropdown-toggle,
      .dropdown-item {
        color: black;
      }
    }
  }
}
