#resource-bg {
  position: absolute;
  width: 2608px;
  height: 1400px;
  top: -126px;
  background: url('resource-header-bg.svg');
  mix-blend-mode: difference;
}

#resource-message {
  color: #1C1919;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Open Sauce Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 70%;

  .fw-light {
    font-weight: 400;
  }
}

#resources {
  #hero {
    border-bottom: 1px solid #CCC;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: Inter;
  }

  .search-icon {
    position: absolute;
    left: 20px;
  }

  .search-hint {
    position: absolute;
    right: 20px;
  }

  .search-input {
    padding: 10px 60px 10px 50px;
    width: 485px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid #979797;
    background: #FFF;
    border-width: 1px;

    &:focus {
      outline-color: $primary;
    }
  }

  .resources-list {
    .count-badge {
      color: $primary;
      border: 1px solid $green-500;
      padding: 3px 15px 3px 15px;
      border-radius: 1332px;
      background-color: $green-100;
    }

    .featured-resource-card {
      height: 558px;
      width: 655px;
      border-radius: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &.card-recitations{
        background-image: url('resource-cards/audio.png');
      }

      &.card-mushaf-layouts{
        background-image: url('resource-cards/mushaf-layout.png');
      }
    }

    .featured-count-badge {
      border-radius: 1332px;
      background-color: white;
      color: #1FC16B;
      font-weight: bold;
      padding: 2px 10px 2px 10px;
      border: 1px solid #38A57E;
    }

    .resource-card {
      height: 558px;
      width: 428px;
      border-radius: 24px;

      background: url('resource-cards/mutashabihat-1.png');
    }

    .full-card{
      background: url('resource-cards/mutashahibat.png');
      width: 100%;
      height: 558px;
      border-radius: 24px;
      background-repeat: no-repeat !important;
      background-size: cover;
      background-position: center;
    }


    @media (max-width: 640px) {
      .download-page-feature-card1,
      .download-page-feature-card2 {
        max-width: 300px;
      }

      .resource-card {
        min-width: 300px;
      }
    }
  }

  @media (max-width: 640px) {
    #resource-message {
      width: 100%;
    }
  }
}

