.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#audio-player{
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
