.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#audio-player{
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

#current-ayah{
  position: relative;
}

.highlight-span {
  position: absolute;
  background-color: rgba(34, 197, 94, 0.6);
  border-radius: 0.25rem;
  transition: all 0.25s ease;
  pointer-events: none;
  z-index: 0;
}