.zoomable {
  #image-container {
    overflow: auto;
  }

  #zoom-img {
    transition: transform 0.3s ease;
    max-width: 100%;
  }
}

.ayah-tajweed-words {
  .border-primary {
    border-width: 3px !important;
  }
}
