.text-transliteration {
  display: flex;
  flex-wrap: wrap;

  .word-group {
    border: 1px solid;
    margin: 5px 10px;
    padding: 10px;

    .word {
      background-clip: padding-box;
      border-collapse: collapse;
      cursor: pointer;

      &:hover {
        background: $gray-300;
      }
    }
  }

  .word-group:first-of-type {
    border-left: 0;
    margin-left: 0;
  }

  .word-group:last-of-type {
    border-right: 0;
    margin-right: 0;
  }
}


