.flex-between{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item{
  .selected{
    background: #cacaca;
  }
}

a.column-label {
  text-decoration: none !important;
}

.column-label {

  .fa-sort-up {
    transform: translateY(9px);
  }

  .fa-sort-down {
    transform: translateY(-6px);
  }

  .label-text {
    width: max-content;
  }
}
