.filters {
  select {
    min-width: 200px;
  }
}

#editor-wrap {
  canvas {
    width: 100%;
    display: block;
    margin: 1em auto;
    background: #fff;
    border: 1px solid #ccc;
    height: 416px;
  }

  #ayah_text {
    word-spacing: 2rem;
    line-height: 2;
    display: block;
    width: 100%;
  }

  #words {
    overflow-y: scroll;
    max-height: 200px;

    .well {
      margin: 10px;
    }

    .form-control {
      font-size: 30px;
      min-height: 62px;
      resize: none;
    }
  }

  .btn, .help-block {
    font-family: Roboto;
  }
}