.card-columns {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    height: 300px;
    min-height: 300px;
    break-inside: avoid-column;
    position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
    background-clip: content-box;
    background-position: center;

    .card-body {
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, .7);
      border-radius: 24px;
      color: #fff;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}



