@import "active_admin/mixins";
@import "active_admin/base";
@import "select2/dist/css/select2";

@import "shared/font_faces";
@import "shared/surah_names";
@import "shared/tajweed";
@import "shared/mushaf_page";
@import "shared/diffy";
@import "shared/content";
@import "admin/theme";
@import "admin/dict";
@import "admin/bootstrap";
@import "admin/active_admin_bootstrab_overrides";
@import "libs/toastr";

.filter_form {
  .searchable_select{
    .select2-selection__clear {
      padding-right: 10px;
      background-image: none !important;
      text-shadow: none !important;
      box-shadow: none !important;
      color: #000 !important;
    }
  }
}

.collapable{
  &.collapsed span{
    &:before{
      content: '☝';
    }
  }

   span{
    &:before{
      content: '☟';
    }
  }
}

input[type=search]{
  width: calc(80% - 22px);
  border: 1px solid #c9d0d6;
  border-radius: 3px;
  font-size: .95em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

.download-form{
  li{
    display: flex;
    flex-direction: column;

    label{
      margin-right: .5rem;
      width: 100% !important;
    }
  }
}