@import "shared/font_faces";
@import "shared/mushaf_page";
@import "shared/tajweed_color_new";

.mushaf{
  a{
    text-decoration: none;
    color: unset;
  }
}
.position-absolute{
    position: absolute;
}