$primary: #16a085 !default;
$secondary: #6c757d !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;

$link-color: $primary !default;

$print-page-type: portrait;
$print-page-size: letter;
$print-page-margin: 1cm;

@import "shared/font_faces";
@import "shared/mushaf_page";

@media print {
  .verse {
    break-inside: avoid;
  }
}

@page {
  size: $print-page-size $print-page-type;
  margin: $print-page-margin;
  padding: 0;
  border: none;
  border-collapse: collapse;
}

.text-center{
  text-align: center;
}

.icon-surah{
  font-size: 30px;
}
