<div class="tw-tw-mt-5" data-controller="tabs">
  <ul class="tw-flex tw-flex-nowrap tw-list-none tw-m-0 tw-p-0 tw-border-b tw-border-gray-200" id="topics-docs-tab" role="tablist">
    <li class="tw-m-0 tw-flex-none" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 hover:tw-text-[#57d798] active tw-border-t tw-border-r tw-border-l tw-border-[#dee2e6] tw-relative"
              id="tab-topics"
              data-action="click->tabs#switch"
              data-tabs-target-value="tab-topics-pane"
              type="button"
              role="tab"
              aria-controls="tab-topics-pane"
              aria-selected="true">
        Topics
      </button>
    </li>

    <li class="tw-m-0 tw-flex-none" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 hover:tw-text-[#57d798] tw-border-t tw-border-r tw-border-l tw-border-transparent tw-relative"
              id="tab-help"
              data-action="click->tabs#switch"
              data-tabs-target-value="tab-help-pane"
              type="button" role="tab"
              aria-controls="tab-help-pane"
              aria-selected="false">
        Help
      </button>
    </li>
  </ul>

  <div class="tab-content tw-tw-p-2 tw-tw-mt-3" id="topics-docs-tab-content">
    <div class="tab-pane show active"
         id="tab-topics-pane"
         role="tabpanel"
         aria-labelledby="tab-topics" tabindex="0">
      <div class="tw-space-y-6">
        
        <% if @topic.present? %>
          <!-- SHOW PAGE: Display specific topic details -->
          <%= render 'resources/previews/ayah_topics/topic_show', 
                     topic: @topic, 
                     verse_topics: @verse_topics, 
                     resource: resource %>
        <% else %>
          <!-- INDEX PAGE: List all topics with pagination -->
          <%= render 'resources/previews/ayah_topics/topic_index', resource: resource %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane tw-hidden"
         id="tab-help-pane"
         role="tabpanel"
         aria-labelledby="tab-help" tabindex="1">
      <%= render 'resources/previews/ayah_topics/help' %>
    </div>
  </div>
</div>
