<%
  resource_content = resource.resource_content
  mushaf = Mushaf.where(resource_content_id: resource_content.id).first
  page = params[:page] || 1
  words = MushafWord.where(page_number: page, mushaf: mushaf)
%>

<script>
  function jumpToPage(selectedPage) {
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set("page", selectedPage);
    Turbo.visit(currentUrl.toString());
  }
</script>

<% if resource_content.mushaf_layout? %>
  <div class="tw-flex tw-justify-center tw-flex-col tw-items-center">
    <div class="tw-mb-4">
      <%= label_tag :page, 'Jump to page', class: 'tw-me-2' %>
      <%= select_tag :page, options_for_select((1..mushaf.pages_count).to_a, page), onchange: "jumpToPage(this.value)", style: 'min-width:200px', data: { controller: 'select2' } %>
    </div>

    <%= render 'shared/mushaf_page',
               words: words,
               page: page,
               mushaf: mushaf,
               name: resource_content.name,
               hide_controls: true
    %>
  </div>
<% end %>