<%
  resource_content = resource.resource_content
  partial_name = resource_content.name.downcase.gsub('name', '').strip
%>

<div class="tw-tw-mt-5" data-controller="tabs">
  <ul class="tw-flex tw-flex-nowrap tw-list-none tw-m-0 tw-p-0 tw-border-b tw-border-gray-200" id="translation-docs-tab" role="tablist">
    <li class="tw-m-0 tw-flex-none" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 hover:tw-text-[#57d798] active tw-border-t tw-border-r tw-border-l tw-border-[#dee2e6] tw-relative"
              id="tab-docs"
              data-action="click->tabs#switch"
              data-tabs-target-value="tab-preview-pane"
              type="button"
              role="tab"
              aria-controls="tab-preview-pane"
              aria-selected="true">
        <%= resource.name %> Preview
      </button>
    </li>

    <li class="tw-m-0 tw-flex-none" role="presentation">
      <button class="tw-text-gray-700 tw-font-medium tw-no-underline tw-px-3 tw-py-2 hover:tw-text-[#57d798] tw-border-t tw-border-r tw-border-l tw-border-transparent tw-relative"
              id="tab-help"
              data-action="click->tabs#switch"
              data-tabs-target-value="tab-help-pane"
              type="button" role="tab"
              aria-controls="tab-help-pane"
              aria-selected="false">
        Help
      </button>
    </li>
  </ul>

  <div class="tab-content tw-tw-p-2 tw-tw-mt-3" id="translation-docs-tab-content">
    <div class="tab-pane show active"
         id="tab-preview-pane"
         role="tabpanel"
         aria-labelledby="tab-docs" tabindex="0">
      <div class="tw-space-y-6">
        <%= render "resources/previews/quran_metadata/#{partial_name}_preview", resource: resource %>
      </div>
    </div>

    <div class="tab-pane tw-hidden"
         id="tab-help-pane"
         role="tabpanel"
         aria-labelledby="tab-docs" tabindex="1">
      <div class="tw-space-y-6">
        <%= render "resources/previews/quran_metadata/#{partial_name}_help", resource: resource %>
      </div>
    </div>
  </div>
</div>
