<%
  chapter_id = params[:chapter_id] || 1
  info = ChapterInfo.where(chapter_id: chapter_id, resource_content_id: resource.resource_content_id).first
%>

<style>
    .info p {
        margin: 10px 0;
    }

    .info h2 {
        font-weight: bold;
        margin-top: 10px;
        text-decoration: underline;
    }
</style>

<h2>
  Surah Info preview
</h2>

<div class="info <%= info.language_name.to_s.downcase %>">
  <p class="strong">
    <%== info.short_text %>
  </p>

  <div>
    <%== info.text %>
  </div>
</div>
