<style>
    #content{
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<div id="content"
     class="<%= params[:css_class] %>"
     data-file-name="mushaf/<%= @mushaf.id %>/<%= params[:page_number] %>"
     >
  <%= render 'shared/mushaf_page',
             words: @words,
             page: params[:page_number],
             mushaf: @mushaf,
             hide_controls: true
  %>
</div>

