<div class="relative px-4 md:px-8 lg:px-0 grid grid-cols-1 md:grid-cols-12 justify-center max-w-[1680px] mx-auto">
  <div class="col-span-12 lg:col-start-2 lg:col-span-10">
    <%= yield %>
  </div>
</div>